.tabs-loans-container {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}

.section .tabs-loans-container {
  margin-bottom: 24px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: var(--color-white);
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-charcoal-black);
  transition: color 0.3s;
  border-radius: 4px;
}

.tab:hover {
  color: var(--color-white);
  background-color: var(--color-sky);
}

.tab.active {
  color: var(--color-white);
  background-color: var(--color-sky);
  font-weight: 500;
}

.content-container a {
  border: 1px solid var(--color-silver);

  @media (width >=901px) {
    padding: 8px;
  }
}

.content-container a:hover {
  @media(min-width:900px) {
    box-shadow: 0px 2px 2px 0px #00000040;
  }
}


.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  box-sizing: border-box;
}

@media (width <=768px) {
  .content-container {
    gap: 20px;
  }
}

@media (width >=1600px) {
  .content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.content-container a {
  box-shadow: 0px 4px 10px 0px #0000000D;
}

.buttons-container {
  background: var(--color-silver);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.loan-card {
  flex: 1;
  max-width: 23%;
  min-width: 280px;
  background-color: var(--color-white);
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  width: calc(33% - 32px);

  @media(width >=900px) {
    min-width: 200px;
  }

}

@media (width>=1600px) {
  .loan-card {
    flex: 1 0 calc(20% - 16px);
    /* Keep 4 cards per row */
  }
}

.loan-card:hover {
  transform: translateY(-5px);
}

.loan-image {
  width: 288px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

/* @media (min-width: 1200px) and (max-width: 1400px) {
  .loan-image {
    height: auto;
  }
} */

@media (width >=1200px) {
  .loan-image {
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
}

.loan-content {
  padding-top: 10px;
}

.loanTitle {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: var(--color-charcoal-black);
  position: relative;
}

.loanTitle:hover:after {
  content: '→';
  position: absolute;
  font-size: 18px;
  padding-left: 10px;
}


.loanDescription {
  font-size: 14px;
  color: var(--color-charcoal-black);
  margin: 0;
}

.different-loans-title {
  text-align: center;
  font-weight: 500;
}

@media screen and (width <=1024px) {
  .loan-card {
    max-width: 48%;
  }
}

@media(width <=600px) {
  .section.differentloans-container {
    padding-top: 0px;
  }
}

@media screen and (width <=1199px) {
  .differentloans-container {
    border-radius: 20px 20px 0px 0px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .content-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    margin: 1.5rem 0rem 1.5rem 1.5rem;
    padding: 10px 0px;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .content-container::-webkit-scrollbar {
    display: none;
  }

  .loan-card {
    flex: 0 0 auto;
    width: 40%;
    margin-right: 0px;
    scroll-snap-align: start;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 3px 7px 3px -3px rgba(0, 0, 0, 0.2)
  }

  .loan-card {
    .loan-content {
      padding: 10px 10px 10px 10px !important;
    }
  }

  .loanTitle {
    font-size: 18px;
    margin: 0 0 10px 0;
    color: #333;
    margin-bottom: 10px !important;
  }

  .loanDescription {
    font-size: 12px !important;
    color: #666;
    margin: 0;
  }
}

.loan-card:hover {
  transform: scale(1.02);
  text-decoration: none;
}


.loan-content h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.loan-content p {
  margin: 0;
  font-size: var(--body-font-size-s);
  line-height: 16.42px;
  font-weight: 300;
}

.loanTitle {
  position: relative;
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #3b3b3b;
  padding-right: 24px;
}

@media (max-width: 768px) {
  .loanTitle::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/icons/arrowsvg.svg");
  }
}