.taxsavingcalculator  .calculator-container-tax-saving {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  
  .taxsavingcalculator  .inputBox_tax_saving,.aprcalculator .outputs_tax_saving {
    box-sizing: border-box;
    width: calc(50% - 10px);
    max-width: 100%;
  }
  
  .taxsavingcalculator  .inputBox_tax_saving {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: #F4F4F4;
    padding: 20px; 
    border-radius: 4px;
  }
  
  @media (max-width: 767px) {
    .taxsavingcalculator  .inputBox_tax_saving {
        padding: 0; 
        background: unset;
    }
  }
  
  
  .taxsavingcalculator  .inputTaxSaving {
    margin-bottom: 20px;
  }
  
  .taxsavingcalculator  .inputBoxTaxSavingLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .taxsavingcalculator  .inputAprLabelInput {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .taxsavingcalculator  .inputBox_tax_saving .inputAprLabelInput input {
    background: #fff;
    padding: 5px;
    border: none;
    box-sizing: border-box;
    height: 40px;
    line-height: 30px;
  }
  @media (max-width: 767px) {
    .taxsavingcalculator  .inputBox_tax_saving .inputAprLabelInput input {
        height: 30px; 
    }
  }
  
  .taxsavingcalculator  .inputBox_tax_saving .inputAprLabelInput span {
    background: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 40px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.42px;
    color:#3b3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35px;
  }
  
  @media (max-width: 767px) {
    .taxsavingcalculator  .inputBox_tax_saving .inputAprLabelInput input,
    .taxsavingcalculator  .inputBox_tax_saving .inputAprLabelInput span {
        background: #F4F4F4;
        height: 30px;
    }
  }
  
  .taxsavingcalculator  .inputAprLabelInput span {
    border-right: none; 
    border-radius: 4px 0 0 4px; 
  }
  
  .taxsavingcalculator  .inputAprLabelInput input {
    border-left: none; 
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    text-align: end;
  }
  
  .taxsavingcalculator  .inputBoxTaxSavingRange {
    margin-top: 10px;
  }
  
  .taxsavingcalculator  .inputBoxTaxSavingRange input[type="range"] {
    width: 100%;
    background: linear-gradient(to right, rgb(140, 177, 51) 0%, rgb(204, 204, 204) 0%);
  }
  
  .taxsavingcalculator  .inputBoxAprBottom {
    display: flex;
    justify-content: space-between;
  }
  
  .taxsavingcalculator  .outputs {
    max-width: 100%;
  }
  
  .taxsavingcalculator  .result_tax_saving {
    background: #8CB133;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; 
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .taxsavingcalculator  .result_tax_saving {
    height: 120px;
  }
  
  @media (max-width: 1023px) and (min-width: 768px) {
    .taxsavingcalculator  .result_tax_saving {
        height: 60px;
    }
  }
  
  @media (max-width: 767px) {
    .taxsavingcalculator  .result_tax_saving {
        height: 83px;
    }
  }
  
  .taxsavingcalculator  .result_tax_saving > div:first-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .taxsavingcalculator  .result_tax_saving > div:last-child {
    font-size: 36px;
    font-weight: 500;
    line-height: 42.23px;
    text-align: left;
  }
  
  .taxsavingcalculator .apply-btn-apr-result{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px #00000014;
    padding:20px 20px;
  }
  
  .taxsavingcalculator  .apply-btn-apr-result button{
    background: #3CB8FF;
    color:#fff;
  }
  
  .taxsavingcalculator  .inputBox_tax_saving label {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
    color: #3b3b3b;
  }
  
  @media (max-width: 767px) {
    .taxsavingcalculator  .inputBox_tax_saving label {
        font-size: 14px;
        line-height: 16.42px;
    }
  }
  
  
  .taxsavingcalculator  .inputTaxSaving .inputBoxAprBottom{
      font-size: 14px;
      font-weight: 300;
      line-height: 16.42px;
      text-align: left;
      color:#000;
  }
  
  #interestRateApr,
  #loanAmountApr,
  #loanTenureYearsApr,
  #loanTenureMonthsApr,
  #loanOriginationChargesApr {
    font-size: 14px;
    font-weight: 300;
    line-height: 16.42px;
    color: #3b3b3b;
  
  }
  @media (max-width: 767px) {
    #interestRateApr,
    #loanAmountApr,
    #loanTenureYearsApr,
    #loanTenureMonthsApr,
    #loanOriginationChargesApr {
    max-width: 100px;
    }
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: none;
  }
  
  .taxsavingcalculator  .inputBox_tax_saving input[type=range] {
    -webkit-appearance: none!important;
    appearance: none;
    width: 100%;
    height: 8px;
    outline: none;
    border-radius: 4px;
  }
  
  @media (max-width: 767px) {
    .taxsavingcalculator  .inputBox_tax_saving input[type=range] {
        height: 4px; 
    }
  }
  
  .taxsavingcalculator  .inputBox_tax_saving input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 5px;
  }
  /* @media (max-width: 767px) {
    .aprcalculator .inputs input[type=range]::-webkit-slider-runnable-track {
        height: 4px; 
    }
  } */
  
  .taxsavingcalculator  .inputBox_tax_saving input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:#8CB133;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
  }
  
  @media (max-width: 767px) {
    .taxsavingcalculator  .inputBox_tax_saving input[type=range]::-webkit-slider-thumb  {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background:#8CB133;
      border-radius: 50%;
      cursor: pointer;
      margin-top: -4px;
    }
  }
  
  
  .taxsavingcalculator  .inputBox_tax_saving input[type=range]:focus {
    outline: none;
  }
  
  .taxsavingcalculator  .inputBox_tax_saving input[type=range]:active::-webkit-slider-thumb {
    background:#8CB133;
  }
  
  /* Desktop */
  @media (min-width: 1351px) {
    .taxsavingcalculator  .inputBox_tax_saving {
        max-width: 772px; 
        width:100%;
    }
    .taxsavingcalculator  .outputs_tax_saving {
        max-width: calc(100% - 772px - 30px); 
        width:100%;
    }
    .taxsavingcalculator  .calculator-container {
        flex-direction: row;
    }
  }
  
  /* Calculate proportion for 1200px screen */
  @media (min-width: 1200px) and (max-width: 1350px) {
    .taxsavingcalculator  .inputBox_tax_saving {
        max-width: calc(772px / 1351 * 1200); 
        width:100%;
    }
    .taxsavingcalculator .outputs_tax_saving {
        max-width: calc(100% - (772px / 1351 * 1200) - 30px); 
    }
    .taxsavingcalculator .calculator-container {
        flex-direction: row;
    }
  }
  
  /* iPad */
  @media (min-width: 768px) and (max-width: 1199px) {
    .taxsavingcalculator  .inputs {
        max-width: calc(100% - 303px - 30px); 
        width:100%;
    }
    .taxsavingcalculator  .outputs_tax_saving {
        max-width: 273px;
    }
    .taxsavingcalculator  .calculator-container {
        flex-direction: row;
    }
  }
  
  /* Mobile */
  @media (max-width: 767px) {
    .taxsavingcalculator  .inputs, .taxsavingcalculator  .outputs_tax_saving {
        max-width: 100%;
        width:100%;
    }
    .taxsavingcalculator  .calculator-container {
        flex-direction: column;
    }
  }
  
  