.mobile-grievance-tabs-list {
    display: flex;
    gap: 8px;
    max-width: 100%;
    overflow-x: auto;
    padding:10px;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-grievance-tabs-tab {
    flex: 0 0 max-content;
    margin: 0;
    border-radius: 0;
    padding: 8px 16px;
    background-color: var(--light-color);
    color: initial;
    font-size: unset;
    font-weight: bold;
    line-height: unset;
    text-align: initial;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    transition: background-color 0.2s;
  }
  
  .mobile-grievance-tabs-tab[aria-selected="true"] {
    cursor: initial;
  }
  
  .mobile-grievance-tabs-tab[aria-selected="false"]:hover,
  .mobile-grievance-tabs-tab[aria-selected="false"]:focus {
    background-color: var(--dark-color);
  }
  
  .mobile-grievance-tabs-panel {
    margin-top: -1px;
    padding: 0 16px;
    /* border: 1px solid var(--dark-color); */
    overflow: auto;
  }
  
  .mobile-grievance-tabs-panel[aria-hidden="true"] {
    display: none;
  }

  

  