.pdp-blogs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pdp-blogs-header h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;

}

@media(max-width:600px) {
    .pdp-blogs-header h2 {
        font-size: 20px;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .pdp-blogs-header h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    color:#000;
    }
}


.pdp-blogs-header .button-container a {
    color: #3B3B3B;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
}

@media (min-width:767px) and (max-width:1199px) {
    .pdp-blogs-header .button-container a {
        font-size: 10px;
        font-weight: 400;
        line-height: 11.73px;
        color:#3B3B3B;
    }
}

@media(max-width:600px) {
    .pdp-blogs-header .button-container a {
        color: #242424;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.08px;
    }
}

@media(min-width:1199px){
    .section.pdp-blogs-header-container {
        background-color: #f2f2f2;
        margin-top:40px;
    }
}