.accordion-content {
    display: none;
  }
  .accordion-content.active {
    display: block;
  }
  .accordion-header {
    cursor: pointer;
    border: 2px;
  }

/* Default: Hide mobile UI */
.customer-support-information-container {
  display: none;
}

/* Mobile view: Show mobile UI, hide desktop UI */
@media (max-width: 768px) {
  .supportcards-container,
  .support-table-ui {
    display: none;
  }
  
  .customer-support-information-container {
    display: block;
  }
}

/* Desktop view: Show desktop UI */
@media (min-width: 769px) {
  .supportcards-container,
  .support-table-ui {
    display: block;
  }

  .customer-support-information-container {
    display: none;
  }
}



/* for deskop view */

.customer-support-information {
  display: flex;
  justify-content: space-between;
}

/* Flex container for cards */
.support-landing-cards {
  display: flex;
}

/* Flex container for support cards */
.ghflsupportcards {
  display: flex;
  gap: 20px;
}

/* Styling for individual support cards */
.support-landing-cards-child {
  border-style: inset;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}

/* Styling for content inside support cards */
.support-landing-cards div {
  line-height: 100%;
}

/* Styling for h3 headings */
h3 {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.15px;
  text-align: left;
}

/* Styling for paragraphs */
p {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.77px;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Styling for h4 headings */
h4 {
  font-size: medium;
  margin-left: 10px;
}
.imageDiv{
  display: flex;
}
.faqDiv{
  display: flex;
}



