/* .hidden {
    display: none;
  }
  
  .active {
    font-weight: bold;
  }
  

  .footer-wrapper, .subfooter-container {
    display: none;
  }
  
  .third-section-wrapper.third-section {
    display: none;
  }
  
  @media (min-width: 769px) {
    .third-section-wrapper{
      display: block;
    }
    .footer-wrapper {
        display: block;
    }
  }
  
  @media (max-width: 768px) {
    .subfooter-container {
        display: block;
    }
  
    .third-section-wrapper.third-section {
      display: none;
    }
  } */