/* .hidden {
    display: none;
}

.active {
    font-weight: bold;
}

/* Hide both divs by default */
.footer-wrapper, .subfooter-container {
    display: none;
}

/* Show the desktop div on screens wider than 768px (desktop view) */
@media (min-width: 769px) {
    .footer-wrapper {
        display: block;
    }
}

/* Show the mobile div on screens 768px wide or narrower (mobile view) */
@media (max-width: 768px) {
    .subfooter-container {
        display: block;
    }
} */
