
@media (width <= 900px){
		.footer-mobile-wrapper {
			position: fixed;
			bottom: 0;
			width: 100%;
			background-color: #fff;
			padding: 10px;
			z-index: 1000;
			box-sizing: border-box;
			box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
		}
	}


.footer-element {
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
}

.footer-element > div:first-child {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-element:last-child .button-container a {
	background: #3CB8FF;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 8px 8px;
	font-size: 14px;
	display: block !important;
	color: #fff;
}

.footer-element img {
	width: 22px;
	height: 22px;
}

/* .dropdown-content {
	left:50%;
	transform: translateX(-50%);
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 461px;
	z-index: 999;
	padding:10px;
	background-color: #fff;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
} */

.dropdown-content ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.dropdown-content ol > li {
	padding: 5px 0;
	cursor: pointer;
	position: relative;
}

.dropdown-content ol > li span {
	font-weight: bold;
	margin-left: 5px;
}

.footer-element.active {
	background-color: #f0f0f0;
}

.footer-mobile {
	display: block;
}

@media (width >=901px) {
	.footer-mobile {
		display: none;
	}
}

@media (width <=900px) {
	.footer-mobile {
		display: flex;
		justify-content: space-evenly;
		padding: 15px 20px;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}

	.footer-element {
		width: auto;
	}
}

.footer-element .button-container a {
	display: block;
	color: #7D7D7D;
	padding: 0;
}

.footer-element p {
	font-size: 12px !important;
	color: #7D7D7D;
}



.footer-element {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
	position: absolute;
    bottom: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
    width: 80vw;
    max-width: 600px;
}

.dropdown-content::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.tooltip-trigger {
    cursor: pointer;
    width: 100%;
}

