@media (width <= 900px){
	.footer-mobile-wrapper {
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  background-color: #fff;
	  padding: 10px;
	  z-index: 1000;
	  box-sizing: border-box;
	  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
	}
  }
  .footer-element {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  }
  .footer-element > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .footer-element:last-child .button-container a {
    background: var(--color-sky-dark);
    border-radius: 2px;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 14px;
    display: block !important;
    color: var(--color-white);
    font-weight: 500;
  }
  .footer-element img {
  width: 22px;
  height: 22px;
  }
  .dropdown-content ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
   
  .dropdown-content ol > li {
	padding: 5px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
	color: #3b3b3b;
  margin-bottom: 10px;
  }
   
  .dropdown-content ol > li span {
  font-weight: bold;
  margin-left: 5px;
  }
  .footer-element.active {
  background-color: #f0f0f0;
  }
  .footer-mobile {
  display: block;
  }
  @media (width >=901px) {
  .footer-mobile {
	display: none;
  }
  }
  @media (width <=900px) {
  .footer-mobile {
	display: flex;
	justify-content: space-evenly;
  max-width: 398px;
  align-items: center;
  margin: auto;
  width: 100%;
	padding: 15px 20px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .footer-element {
	width: auto;
  }
  }
  .footer-element .button-container a {
  display: block;
  color: #7D7D7D;
  padding: 0;
  }
  .footer-element p {
  font-size: 12px !important;
  color: #7D7D7D;
  }
   
  .footer-element {
	position: relative;
	display: inline-block;
	width: 100%;
  }
   
  .dropdown-content.calculators {
	position: fixed;
	bottom: 100px;
  left:0;
	background-color: white;
	border: 1px solid #ccc;
	padding: 40px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 1;
	width: 80vw;
	max-width: 600px;
  }
  .dropdown-content.products-class {
	position: fixed;
	bottom: 100px;
  left:0;
	background-color: white;
	border: 1px solid #ccc;
	padding: 40px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 1;
	width: 80vw;
	max-width: 600px;
  }
   
  .dropdown-content::after {
	/* content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: white transparent transparent transparent; */
  }
   
  .tooltip-trigger {
	cursor: pointer;
	width: 100%;
  }
   
  .dropdown-content p {
	font-size: 20px!important;
	font-weight: 500;
  color:#000!important;
  }
   
  .dropdown-content li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
  background: #F4F4F4;
  }
   
  .dropdown-content li span {
	margin-left: auto;
	padding-left: 10px; /* Adjust as needed for spacing */
  }