/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  /* z-index: 2;
  position: fixed; */
  box-shadow: 2px 2px 4px rgb(0 0 0 / 16%);
}

header{
  z-index: 10;
  position: fixed;
  width:100%;
  top:0;
  order:2;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}


header nav[aria-expanded="true"] .nav-sections {
  display: false;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 400;
}

header nav .nav-sections .anchorClass{
  text-decoration: none;
  position: relative; 
  padding-right: 20px;
}

header nav .nav-sections .anchorClass.rotate{
  text-decoration: none;
  position: relative; 
  padding-right: 20px;
  color:green;
}

header nav .nav-sections .anchorClass::after{
  position: absolute;
  right: 10px;
  top: 50%;
  width: 6px;
  height: 6px;
  margin-top: -5px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: 75% 75%;
  transform: rotate(45deg);
  transition: transform 0.1s ease;
  content: "";
  box-sizing: content-box;
}

header nav .nav-sections .anchorClass.rotate::after{
  transform: rotate(225deg);
  color:green;
}

header nav .nav-sections .belowNavMainContainer.show{
  position:absolute;
  display:block;
}

header nav .nav-sections .belowNavMainContainer{
  position:absolute;
  display:none;
}


header nav .nav-sections .belowNavMainContainer {
  height: auto;
  max-width: 1200px;
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  margin-left:-150px;
}

header nav .nav-sections .belowNavMainContainer .parentContainerdiv {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

header nav .nav-sections .belowNavMainContainer .firstElementChildDiv,
header nav .nav-sections .belowNavMainContainer .secondElementDiv
 {
  flex: 1;
  box-sizing: border-box;
 }

header nav .nav-sections .belowNavMainContainer .firstElementChildDiv {
  border-right: 1px solid #b8b8b8;
}

header nav .nav-sections .belowNavMainContainer .secondElementDiv {
  border-right: 1px solid #b8b8b8;
}

header nav .nav-sections .belowNavMainContainer .secondElementDiv ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav .nav-sections .belowNavMainContainer .thirdElementDiv main {
  width: 100%;
}

header nav .nav-sections .belowNavMainContainer .thirdElementDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav .nav-sections .belowNavMainContainer .thirdElementDiv .columns p a{
  background: #3CB8FF;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 8px 8px;
  font-size: 14px;
  color: white;
}

.listElement{
  padding:10px;
}

.listElement.selected{
  border-bottom: 4px solid #8cb133;
}

.listElement.active a {
  color: #3CB8FF;
}

.subList.active .anchorPath.anchor_active{
  color: #3CB8FF;
  text-decoration: none;
}


@media (max-width: 768px) {
  header nav .nav-sections .belowNavMainContainer {
    height: auto;
  }

  header nav .nav-sections .belowNavMainContainer .thirdElementDiv {
    padding: 0;
  }
}

.thirdElementDiv {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #fff;
}

.columns > div {
  flex:1;
  display:flex;
}

.columns > div > div:first-child {
  margin-right: 20px;
  background-color: #fff;
  width: 50%;
  overflow: hidden;
  word-wrap: break-word;
  max-width: 600px;
}

.columns > div > div:first-child > p:first-child{
  font-size: 1rem;
  text-wrap: balance;
  margin-top: 10px;
  margin-bottom: 10px;
}

.columns > div > div:first-child > p:nth-child(2){
  font-size: 14px;
  text-wrap: balance;
  margin-top: 10px;
  margin-bottom: 10px;
}

.columns > div > div:first-child > p:nth-child(3){
  font-size: 14px;
  font-weight: 700;
  color:rgb(12, 190, 235);
  text-wrap: balance;
  margin-top: 10px;
  margin-bottom: 10px;
}

.columns > div > div:last-child{
  /* margin-right: 20px;
  background-color: blue;
  width: 50%; */
}

.columns img {
  max-width: 100%;
  height: auto;
  display: block;
}

.secondElementDiv .subList {
  display: none;
}
 
.secondElementDiv .subList.active {
  display: block;
}


header nav .nav-sections .parentContainerdiv{
  display:flex;
}

header nav .nav-sections .firstElementChildDiv ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: grid!important; 
  gap: 0;
}

.firstElementChildDiv li {
  background-color: #fff;
  padding: 10px 40px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools .default-content-wrapper p{
  /* display:grid; */
  align-items: center;
}

header nav .nav-tools .default-content-wrapper{
  display:flex;
}

header nav .nav-tools input[type=text]{
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  background-color: white;
  background-image: url('/icons/search.svg');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.header .section .default-content-wrapper .button-container a{
  background:#3CB8FF;
  border-radius:2px;
  box-sizing: border-box;
  padding:8px 8px;
  font-size: 14px;
  display:block!important;
  color:white;
}

.firstElementChildDiv ul {
  list-style-type: none; 
  padding: 0; 
}

.firstElementChildDiv ul li {
  border-bottom: 1px solid #b8b8b8; 
}

.firstElementChildDiv ul li a {
  text-decoration: none; 
  color: #333; 
  display: block; 
}

.firstElementChildDiv ul li.active {
  font-weight: bold; 
}

.belowNavMainContainer .secondElementDiv li.listElement {
  padding: 10px 40px;
  /* border-bottom: 1px solid #b8b8b8; */
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  order: 2;
}

.subheader {
  order: 1;
  background: #F4F4F4;
  ;

  @media (width <= 786px){
    display:none;
  }
}

.subheader .subheader-wrapper .default-content-wrapper ul{
  display:flex;
  justify-content: end;
  font-size:12px;
  gap:2em;
  list-style: none;
  line-height: 21px;
  margin:10px;
  padding:0;
}

.subheader .subheader-wrapper .default-content-wrapper ul .subheader-list{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  cursor: pointer;
}

.subheader .subheader-wrapper .default-content-wrapper ul .subheader-list a:any-link{
text-decoration: none;
color:black;
}

.subheader .subheader-wrapper .default-content-wrapper ul .subheader-list picture{
  display:flex;
  justify-content: center;
  align-items: center;
}

.subheader .default-content-wrapper ul li img{
  width:16px;
  height:16px;
}

.subheader-list:first-child {
  margin-right:auto;
}

.subheader-list:not(:first-child) {
  text-align: right;
}

.section.nav-mobile{
  display:none;
  grid-area: sections;
}

.thirdElementDiv > main > div{
  display: flex;
}




.container {
  display: flex;
}
.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}
.right-column {
  flex: 2;
  padding: 10px;
}


