#feedback-title-btn {
    position: fixed;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1000;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.parentContainerDiv {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 700px;
    display: none; /* Initially hidden */
}

.lessMoreLikeLabelDiv {
    display: flex;
    justify-content: space-between;
}

.ratingDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.ratingDiv label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.ratingDiv input[type="radio"] {
    display: none;
}

.ratingDiv label {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ratingDiv input[type="radio"]:checked + label {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}

.ratingDiv label:hover {
    background-color: blue;
}

.laterButtonContainer {
    justify-content: space-around;
    display: flex;
}

.feedback-description.field-wrapper.submit-wrapper {
    display: none;
}

.feedback-description.field-wrapper.text-area-wrapper {
    display: none;
}

.description-limit-err-msg {
    display: none;
}

.description-empty-err-msg {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.thankyoupopupfeedback-wrapper {
    display: none;
}

.thankyoupopupfeedback {
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1002;
}

.close-button::before {
    content: '\00d7'; /* Unicode for multiplication sign (×) */
    color: #000;
}

/* Icon for collapse button */
.collapse-button {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
