.section.interest-rate-container>div {
  background-color: #F0F6E4;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 4px;
}

@media (width >= 1600px) {
  .section.interest-rate-container>div {
    max-width: 100%;
  }
}

@media(min-width:600px) {
  .interest-rate-container .interest-rate-wrapper {
    padding: 30px;
    box-sizing: border-box;
  }
}

@media (width >= 1600px){
  .interest-rate-container .interest-rate-wrapper {
    padding: 30px 80px;
    box-sizing: border-box;
  }
}

@media(max-width:600px) {
  .section.interest-rate-container .default-content-wrapper {
    background-color: #F4F4F4;
  }
}

.documentDiv .tabs-list-wrapper .mobile-card-container,
.category-document-wrapper {
  /* max-width: 183px; */
}

.interest-rate-container .interest-rate-wrapper {
  background-color: #F0F6E4;
  border-radius: 4px;
  margin-top: 20px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate {
  /* padding: 24px 40px; */
}

.interest-rate-container .interest-rate-wrapper .interest-rate .disclaimer {
  padding-top: 10px;
  font-size: 10px;
  font-weight: 300;
  line-height: 11.73px;
  text-align: center;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .disclaimer::first-letter {
  color: #F50076;
  ;
}

.tabs-list-dropdown {
  display: none;
}

.tabs-list-label,
.tabs-dropdown-label {
  display: block;
  font-size: small;
}

@media (max-width: 768px) {
  .allCards {
    display: none;
  }

  .tabs-list-wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }


  .tabs-list-wrapper .tabs-list-dropdown {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .tabs-dropdown {
    width: 100%;
  }

  .tabs-list {
    display: none;
  }

}

.interest-rate-container .interest-rate-wrapper .interest-rate .main-title {
  display: none;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.15px;
  text-align: center;
  margin-bottom: 20px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .allCards .other-card {
  display: none;
}

@media(width >= 1600px){
  .interest-rate-container .interest-rate-wrapper .interest-rate .allCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.interest-rate-container .interest-rate-wrapper .interest-rate .allCards .main-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (width >= 1600px){
  .interest-rate-container .interest-rate-wrapper .interest-rate .allCards .main-div {
    gap:40px;
  }
}

.interest-rate-container .interest-rate-wrapper .interest-rate .allCards .other-card div h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: #242424;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper {
  display: flex;
  margin: 14px;
  padding: 8px;
  /* align-items: center; */
  background-color: #F0F6E4;
  border-radius: 4px;
  justify-content: space-between;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .category-document-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}


.interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .category-wrapper select {
  border-radius: 4px;
  padding: 8px 24px;
  margin: 0;
  outline: none;
  border: unset;
  color: #3B3B3B;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 18.77px;

}

.interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .tabs-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .allCards .other-card div p {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  margin: 0;
  color: #242424;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .interest-card {
  /* max-width: 192px; */
  background-color: #8CB133;
  color: #ffffff;
  border-radius: 4px;
  width: 100%;
  padding: 27.5px;
  box-sizing: border-box;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .interest-card .title-container .title,
.interest-rate-container .interest-rate-wrapper .interest-rate .interest-card .time-period-container .time-period {
  color:#ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.08px;
  text-align: center;
  margin-top: 0;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .interest-card .intrest-container .intrest {
  color:#ffffff;
  font-size: 40px;
  font-weight: 300;
  line-height: 46.92px;
  text-align: center;
  margin:0px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv {
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-top: 20px;
  overflow: hidden;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .read-more-button {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: center;
  padding: 12px 20px;
  border-radius: 2px;
  border: 1px solid #3CB8FF;
  background-color: #FFFFFF;
  margin-top: 16px;
  color: #3B3B3B;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .sections-container {
  margin-inline: 30px;
  margin-bottom: 10px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .sections-container .sections-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.15px;
  text-align: left;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .sections-container .sections-description {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
  margin-top: 0;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv ul {
  margin: 0;
  padding-left: 10px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv ul>li {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.77px;
  text-align: left;
  list-style-type: none;
  position: relative;
  margin: 0;
  margin-bottom: 8px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv ul>li:last-of-type {
  margin-bottom: 20px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv ul>li::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #8CB133;
  border-radius: 4px;
  top: calc(50% - 4px);
  left: -12px;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .tabs-tab {
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.08px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 7px;
  color: #3B3B3B;
  background-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.interest-rate-container .interest-rate-wrapper .interest-rate .tabs-tab.active-tab {
  background: #3CB8FF;
  color: #ffffff;
}

/* for mobile and tablet */
@media(max-width:900px) {


  .interest-rate-container .interest-rate-wrapper .interest-rate .interest-card {
    padding: 23px 20px;
    /* max-width: fit-content; */
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate {
    /* padding: 20px 20px; */
  }
}

/* for mobile */
@media(max-width:600px) {

  .section.interest-rate-container,
  .interest-rate-container .interest-rate-wrapper,
  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper {
    background-color: #F4F4F4;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate {
    padding: 0px 0px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .mobile-card-container {
    width: 100%;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .sections-container {
    margin-inline: 10px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .allCards {
    display: none;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .main-title {
    font-size: 24px;
    line-height: 28.15px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper {
    gap: 10px;
    border-radius: 0;
    padding-bottom: 20px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .documents-wrapper,
  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .category-wrapper {
    width: 100%;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-panel {
    border-radius: 4px;
    padding-top: 20px;
    margin-top: 0px;
    background-color: #ffffff
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .category-document-wrapper {
    flex-direction: column-reverse;
    align-items: start;
    gap: 30px;
  }

  .tabs-list-label,
  .tabs-dropdown-label,
  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .category-wrapper select,
  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .documents-wrapper select {
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    color: #000000;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .category-wrapper select,
  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .documents-wrapper select {
    color: #3B3B3B;
    width: 100%;
    font-size: 10px;
    line-height: 11.73px;
    padding: 8px 10px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.3s ease;
    margin-top: 5px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .sections-container .sections-title {
    font-size: 14px;
    line-height: 16.42px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .sections-container .sections-description {
    font-weight: 300;
    font-size: 11px;
    line-height: 12.9px;
    transition: all 0.3s ease;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv ul {
    padding-left: 10px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv ul>li {
    font-size: 12px;
    line-height: 14.08px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .disclaimer {
    padding-top: 8px;
    text-align: start;
    font-size: 8px;
    line-height: 9.38px;
    background-color: #F4F4F4;
  }
}



/* for tablet only */
@media(min-width:600px) and (max-width:900px) {
  .interest-rate-container .interest-rate-wrapper .interest-rate .main-title {
    font-size: 20px;
    line-height: 23.46px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .interest-card .intrest-container .intrest {
    font-size: 32px;
    line-height: 27.54px;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper .category-wrapper select {
    font-size: 10px;
    line-height: 11.73px;

  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-wrapper {
    background-color: #F4F4F4;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .sections-container .sections-title {

    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;

  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .sections-container .sections-description,
  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv ul>li {

    font-size: 12px;
    font-weight: 300;
    line-height: 14.08px;

  }

  .interest-rate-container .default-content-wrapper h1,
  .interest-rate-container .default-content-wrapper h4,
  .interest-rate-container .default-content-wrapper h2,
  .interest-rate-container .default-content-wrapper h3,
  .interest-rate-container .default-content-wrapper h5,
  .interest-rate-container .default-content-wrapper h6 {

    font-size: 24px;
    font-weight: 500;
    line-height: 28.15px;
    text-align: center;
  }


}



/* after mobile only */
@media(min-width:600px) {
  .interest-rate-container .interest-rate-wrapper .interest-rate .documentDiv .mobile-card-container {
    display: none;
  }

  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-dropdown-label,
  .interest-rate-container .interest-rate-wrapper .interest-rate .tabs-list-label {
    display: none;
  }
}

@media(min-width:1200px) {
  .interest-rate-container .interest-rate-wrapper .interest-rate .allCards .other-card {
    display: block;
    max-width: 232px;
    margin-right: 40px;
  }
}

@media(min-width:767px) and (max-width:1199px) {
  .section.interest-rate-container{
    padding-left:unset;
    padding-right:unset;
  }
}