main .section.campaign-page-carousel-container{
    padding:unset;
}
.carousel-items-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.campaign-page-carousel .swiper-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}
@media(max-width:1200px){
   .campaign-page-carousel .swiper-wrapper > div::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
       z-index: 1;
   }
}

@media(min-width:1201px){
   .campaign-page-carousel .swiper-wrapper > div::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, #242424 0%, rgba(36, 36, 36, 0.6) 38.67%, rgba(36, 36, 36, 0) 60.08%);
       z-index: 1;
   }
}

.campaign-page-carousel .carousel-item {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.campaign-page-carousel .image-item img {
    width: 100%;
    object-fit: fill;
    height: 500px;
}
@media(max-width:1199px){
   .campaign-page-carousel .image-item img {
       width: 100%;
       object-fit: cover;
   }
}

.campaign-page-carousel .text-item {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    z-index: 1;
}


.campaign-page-carousel .text-item h3,
.campaign-page-carousel .text-item h2 {
   margin: 0;
   text-align: start;
   font-size: 20px;
   font-weight: 300;
   line-height: 23.46px;
}

.campaign-page-carousel .text-item h1{
   margin:0;
   font-size: 32px;
   font-weight: 600;
   line-height: 28.8px;

}

.campaign-page-carousel .text-item ul {
   padding-left: 20px; 
   margin: 0; 
}

.campaign-page-carousel .text-item ul li {
   list-style-type: disc; 
}

.campaign-page-carousel .text-item ul li::marker {
   color: #8CB133;
   font-size: 20px; 
}
.campaign-page-carousel .text-item p {
   margin: 0;
}

.campaign-page-carousel .text-item .button-container {
   display: inline-block; 
   margin-right: 10px; 
}

.campaign-page-carousel .text-item .button-container:last-child {
   margin-right: 0; 
}

.campaign-page-carousel .text-item .button{
   display: inline-block;
   padding: 10px 20px;
   background-color: #3CB8FF;
   color: #fff;
   text-decoration: none;
   transition: background-color 0.3s ease;
}

.campaign-page-carousel .text-item .button-container:last-child .button {
   background-color: inherit;
   color: inherit;
}


.campaign-page-carousel{
   position: relative;
   width: 100%;
   overflow: hidden;
}
.campaign-page-carousel .control-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 10;
}

.campaign-page-carousel .swip-pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    top: 185px;
    right: 36%;
}

.campaign-page-carousel .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.campaign-page-carousel .swiper-pagination-bullet.active {
    background: #000;
}

.campaign-page-carousel .swip-left,
.swip-right {
    cursor: pointer;
    display: none;
}

.campaign-page-carousel .icon {
    font-size: 24px;
}

/* Hide carousel on mobile view */
@media (max-width: 600px) {
    .carousel-items-container {
        display: none;
    }
}


.campaign-page-carousel .swiper-pagination-bullet {
    width: 16px;
    height: 8px;
    border-radius: 1px;
    opacity: 1;
    background: #FFFDFD57;
}

.campaign-page-carousel .swiper-pagination-bullet.active {
    width: 76px;
    height: 8px;
    opacity: 1;
    background-image: linear-gradient(to right, white 50%, #FFFDFD57 50%);
    border-radius: 1px;
}
@media (min-width: 768px) and (max-width: 1024px) {
   .campaign-page-carousel .swiper-pagination-bullet.active {
       width: 57px;
       height: 6px;
       background-image: linear-gradient(to right, white 50%, #FFFDFD57 50%);
       border-radius: 1px;
   }

   .campaign-page-carousel .swiper-pagination-bullet {
       width: 12px;
       height: 6px;
       border-radius: 1px;
       opacity: 1;
       background: #FFFDFD57;
   }
}

.tracking-carousel-form {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 

}

.tracking-form-wrapper {
    flex: 0 0 calc(40% - 10px);
    box-sizing: border-box; 
}

.campaign-page-carousel-wrapper {
    flex: 0 0 calc(60% - 10px);
    box-sizing: border-box; 
}

@media (min-width: 768px) and (max-width: 1024px) {
   .tracking-form-wrapper,
   .campaign-page-carousel-wrapper {
       flex: 0 0 calc(50% - 10px);
   }
}

@media (max-width: 768px) {
   .tracking-form-wrapper {
       flex: 0 0 100%; 
   }

   .campaign-page-carousel-wrapper {
       display: none;
   }
}