main .thankyou-popup-container>div {
  max-width: unset;
}

main .thankyou-popup-container {
  padding: 0;
}

.thankyou-popup {
  position: relative;
  padding: 32px;
  min-height: 300px;
  background: linear-gradient(90deg, #242424 0%,
      rgba(36, 36, 36, 60%) 23.3%, rgba(36, 36, 36, 0%) 76.88%);
}

.thankyou-popup h3 {
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: hug (290px)px;
  height: hug (95px)px;
  top: 307px;
  left: 80px;
  gap: 4px;
  font-family: 'Work Sans', sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 42.23px;
  text-align: left;
}

.thankyou-popup h2 {
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 48.6px;
  text-align: left;

}

.thankyou-popup picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  background-color: #fff;
}

.thankyou-popup img {
  object-fit: none;
  width: 100%;
  height: auto;
}

.thankyou-popup p {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.81px;
  margin-top: 45%;
  text-align: center;
}


.thankyoupopupfeedback {
  position: relative;
  width: 300px;
  /* Adjust as necessary */
  padding: 20px;
  background-color: #fff;
  /* Background color for the popup */
  border: 1px solid #ccc;
  /* Border for the popup */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Optional shadow for better visibility */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 0;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: inherit;
}

.close-button:before,
.close-button:after {
  content: ' ';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #000;
}

.close-button:before {
  transform: rotate(45deg);
  left: 9px;
}

.close-button:after {
  transform: rotate(-45deg);
  left: 9px;
}

.thankyoupopupfeedback {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 4px 0 0 4px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  overflow: hidden;
}