.featured-posts {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}

.featured-posts>.post {
    position: relative;
    overflow: hidden;
    margin: 10px;
    height: 256px;
}

.featured-posts .post.post-1 img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    vertical-align: middle;
}

.featured-posts p {
    margin: 0;
}

.featured-posts .post-2-child.post-child-1 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
}
@media(max-width:767px){
    .featured-posts .post-2-child.post-child-1 p {
        font-size: 10px;
        font-weight: 400;
        line-height: 11.73px;
        text-align: center;
    }
}

.post-3-child.post-child-2 p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 16px;
}

.featured-posts a {
    display: block;
}

.featured-posts h3 a {
    color: inherit;
    display: inline;
}

.featured-posts .post-1 h3 {
    font-size: var(--body-font-size-xl);
}

.featured-posts .post-1 {
    height: auto;
}

.featured-posts .post-1 img {
    height: auto;
    min-height: 256px;
}

.featured-posts .post.post-4 {
    box-shadow: 2px 2px 8px 0px #0000001A;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.featured-posts .post.post-2 h2 {
    text-align: start;
}

.featured-posts .post.post-4 h3 {
    text-align: start;
}

.featured-posts .post.post-4 img {
    width: 20px;
    height: 16px;
}

/* Desktop and larger screens */
@media only screen and (min-width: 901px) {
    .featured-posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 50%);
        grid-gap: 20px;
        margin: 0 10px 20px;
        max-height: 540px;
    }

    .featured-posts .post-1 {
        grid-area: 1 / 3 / 3 / 5; 
    }
    
    .featured-posts .post-2 {
        grid-area: 1 / 1 / 2 / 3; 
    }
    
    .featured-posts .post-3 {
        grid-area: 2 / 1 / 3 / 2; 
    }
    
    .featured-posts .post-4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .featured-posts .post.post-1 img,
    .featured-posts .post.post-1 img,
    .featured-posts .post.post-1>div,
    .featured-posts .post.post-1 picture,
    .featured-posts .post.post-1 a {
        height: 100%;
    }

    .featured-posts>.post {
        height: 100%;
        margin: 0;
    }
}

/* Mobile screens */
@media only screen and (max-width: 767px) {
    .featured-posts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 10px 20px;
    }

    .featured-posts .post {
        width: 100%;
        height: auto;
    }
}


@media only screen and (min-width: 769px) and (max-width: 900px) {
    .featured-posts {
        display: block; 
        margin: 0 10px 20px;
    }

    .featured-posts .post {
        width: 100%; 
        margin-bottom: 20px;
    }

    .featured-posts .post-1,
    .featured-posts .post-2 {
        width: calc(50% - 40px); 
        display: inline-block;
        margin-right: 20px;
    }


    .featured-posts .post-3 .post-3-child.post-child-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .featured-posts .post-3 img{
        width:552px;
    }
    .featured-posts .post.post-4 {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .featured-posts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 10px 20px;
    }

    .featured-posts .post {
        width: 100%;
        height: auto;
    }
    .featured-posts .post.post-4{
        display: none;
    }
    .featured-posts .post.post-1{
        order:2;
    }
    .featured-posts .post.post-2{
        order:1;
    }

    .featured-posts .post.post-2 .post-2-child.post-child-1 p,h2{
        text-align: center!important;
    }

    .featured-posts .post.post-3{
        order:3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-posts .post-3 img{
        width:100%;
    }

}

.featured-posts .post .zoom-effect-wrapper>a {
    transition: all .4s;
}

.featured-posts .post:hover .zoom-effect-wrapper>a {
    transform: scale(1.15);
}

.post-3 {
    position: relative;
}

.post-3 .post-3-child.post-child-1 picture {
    display: block;
}

.post-3 .post-3-child.post-child-2 {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    line-height: 1.2;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 281px;
}

.post-3 .post-3-child.post-child-2 p {
    margin: 0;
}

.post-3 .post-3-child.post-child-2 img {
    height: 16px;
    width: 16px;
}