.supportcards-column-third {
    gap:20px;
    display: flex;
    flex-direction: column;
}

.supportcards-column-third p{
    margin:0;
}
.supportcards-column-third .col-third-parent-0 {
    display: flex;
    justify-content: space-between;
    background: #F4F4F4;
    padding:10px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 60px;
    align-items: center;
}

.supportcards-column-third .col-third-parent-0 .col-third-child-0-0 p{
        font-size: 16px;
        font-weight: 400;
        line-height: 18.77px;
        text-align: left;
}

.supportcards-column-third .col-third-parent-0 .col-third-child-0-1 p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    text-align: left;
    cursor: pointer;
}

.supportcards-column-third .col-third-parent-1 {
    display: flex;
    justify-content: space-between;
    background: #F4F4F4;
    padding:10px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 60px;
    align-items: center;
}

.supportcards-column-third .col-third-parent-1 .col-third-child-1-0 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
}

.supportcards-column-third .col-third-parent-1 .col-third-child-1-1 p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    text-align: left;
    cursor: pointer;
}

.supportcards-column-third .col-third-parent-2 {
    background: #F4F4F4;
}

.supportcards-column-third .col-third-parent-2 .col-third-child-2-0 img{
    width: 16px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
}

.supportcards-column-third .col-third-parent-2 .col-third-child-2-0 p:first-child{

}

.supportcards-column-third .col-third-parent-2 .col-third-child-2-0{
    padding:15px;
    box-sizing: border-box;
}

.supportcards-column-third .col-third-parent-2 .col-third-child-2-0 p{
    margin-bottom: 10px; 
}

.supportcards-column-third .col-third-parent-2 .col-third-child-2-0 p:first-of-type {
    font-size: 16px;
    font-weight: 400;
    /* line-height: 18.77px; */
}

.supportcards-column-third .col-third-parent-2 .col-third-child-2-0 p:nth-of-type(2) {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.42px;
}

.supportcards-column-third .col-third-parent-2 .col-third-child-2-0 p:last-of-type {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    margin-bottom:10px;
}

.supportcards-column-third .col-third-parent-3 {
    display: flex;
    justify-content: space-between;
    background: #F4F4F4;
    padding:10px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 60px;
    align-items: center;
}

.supportcards-column-third .col-third-parent-3 .col-third-child-3-0 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
}

.supportcards-column-third .col-third-parent-3 .col-third-child-3-1 p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    text-align: left;
}

.supportcards-column-third .col-third-parent-4{
    display: flex;
    justify-content: space-between;
    background: #F4F4F4;
    padding:10px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 60px;
    align-items: center;
}

.supportcards-column-third .col-third-parent-4 .col-third-child-4-0 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supportcards-column-third .col-third-parent-4 .col-third-child-4-0 img{
    width: 12.57px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
}

.supportcards-column-third .col-third-parent-4 .col-third-child-4-1 p{
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    text-align: left;
    cursor: pointer;
}


