.section.blog-v2-teaser-container {
    padding: 0px;
}
@media(max-width:1200px){
.section.blog-v2-teaser-container>div {
    margin: unset;
    max-width: unset;
}
}

.blog-v2-teaser {
    height: 518px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c9c9c9;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.blog-v2-teaser::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
    pointer-events: none;
}


.blog-v2-teaser .blog_v2_banner_content {
    width: 1000px;
    display: flex;
    margin-left: 25px;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: width 0.3s ease-in-out;
}

@media(max-width:768px) {
    .blog-v2-teaser .blog_v2_banner_content {
        width: 300px;
    }
}

/* when text is center left and right  */
@media(min-width:769px) {
    .blog-v2-teaser.center .blog_v2_banner_content-wrapper {
        width: 100%;
        max-width: 1200px;
        padding: 24px 0;
        display: flex;
        justify-content: center;
    }

    .blog-v2-teaser.right .blog_v2_banner_content-wrapper {
        width: 100%;
        max-width: 1200px;
        padding: 24px 0;
        display: flex;
        justify-content: end;
    }

    .blog-v2-teaser.left .blog_v2_banner_content-wrapper {
        width: 100%;
        max-width: 1200px;
        padding: 24px 0;
        display: flex;
        justify-content: start;
    }

}

@media (width >= 1600px) {
    .blog-v2-teaser.left .blog_v2_banner_content-wrapper {
        padding-left: 9vw;
        padding-right: 9vw;
        max-width: unset;
    }

    .blog-v2-teaser .blog_v2_banner_content {
        width: 1000px;
        display: flex;
        /* margin-left: 25px; */
        flex-direction: column;
        /* padding: 20px; */
        box-sizing: border-box;
        transition: width 0.3s ease-in-out;
    }
}


.blog-v2-teaser .blog_v2_banner_content p,
.blog-v2-teaser .blog_v2_banner_content ul,
.blog-v2-teaser .blog_v2_banner_content h1,
.blog-v2-teaser .blog_v2_banner_content h2,
.blog-v2-teaser .blog_v2_banner_content h3,
.blog-v2-teaser .blog_v2_banner_content h4,
.blog-v2-teaser .blog_v2_banner_content h5,
.blog-v2-teaser .blog_v2_banner_content h6 {
    color: #ffffff;
    text-align: start;
    z-index: 2;
    margin: 10px 0;
}

.blog-v2-teaser .blog_v2_banner_content h2,
.blog-v2-teaser .blog_v2_banner_content h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 42.23px;
}

@media(max-width:767px) {

    .blog-v2-teaser .blog_v2_banner_content h2,
    .blog-v2-teaser .blog_v2_banner_content h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 23.46px;
        text-align: left;
    }
}

.blog-v2-teaser.black .blog_v2_banner_content p,
.blog-v2-teaser.black .blog_v2_banner_content ul,
.blog-v2-teaser.black .blog_v2_banner_content h1,
.blog-v2-teaser.black .blog_v2_banner_content h2,
.blog-v2-teaser.black .blog_v2_banner_content h3,
.blog-v2-teaser.black .blog_v2_banner_content h4,
.blog-v2-teaser.black .blog_v2_banner_content h5,
.blog-v2-teaser.black .blog_v2_banner_content h6 {
    color: #000;
    text-align: start;
    z-index: 2;
    margin: 0;
}

.blog-v2-teaser.row-wise .blog_v2_banner_content ul li::marker {
    color: #8cb133;
    font-size: 1.2rem;
}

/* .blog-v2-teaser.row-wise .blog_v2_banner__content ul {
    list-style-position: inside;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.77px;
    text-align: left;
    margin-bottom: 40px;
} */

.blog-v2-teaser.row-wise .blog_v2_banner_content p.button-container a {
    background: var(--color-sky-dark);
    border-radius: 2px;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 14px;
    display: inline-block !important;
    color: var(--color-white);
    font-weight: 500;
}

@media(max-width:768px) {
    .blog-v2-teaser.row-wise .blog_v2_banner_content p.button-container a {
        background: var(--color-sky-dark);
        border-radius: 2px;
        box-sizing: border-box;
        padding: 12px 20px;
        font-size: 12px;
        display: inline-block !important;
        color: var(--color-white);
        font-weight: 500;
    }
}

@media(min-width:769px) {
    .blog-v2-teaser.row-wise .blog_v2_banner_content ul {
        display: flex;
        /* flex-wrap: wrap; */
        padding: 0;
        margin: 0;
    }

    .blog-v2-teaser.row-wise .blog_v2_banner_content ul li {
        width: 48%;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 5px;
    }
}

.blog-v2-teaser.black .blog_v2_banner_content p {
    color: #000;
}

@media (max-width:768px) {
    .blog-v2-teaser .blog_v2_banner_content p {
        color: #ffffff;
        text-align: start;
        z-index: 2;
        margin: 0;
        font-size: 20px;
        font-weight: 300;
        line-height: 23.46px;
    }

    .blog-v2-teaser .blog_v2_banner_content ul {
        color: #ffffff;
        text-align: start;
        z-index: 2;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.08px;
        padding: 0;
    }
}


.blog-v2-teaser .blog_v2_banner_content-wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 24px 0;
}

@media (max-width: 1200px) {
    .blog-v2-teaser .blog_v2_banner_content {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .blog-v2-teaser {
        height: 518px;
    }

    .blog-v2-teaser .blog_v2_banner_content {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }


}

@media (min-width: 769px) and (max-width:1199px) {
    .blog-v2-teaser {
        height: 355px;
    }

    .blog-v2-teaser .blog_v2_banner_content {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
}

.blog-v2-teaser.bottom .blog_v2_banner_content {
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
}

.blog-v2-teaser.bottom .blog_v2_banner_content ul li {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 5px;
    list-style: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF1F;
    font-size: 12px;

}

.blog-v2-teaser.bottom .blog_v2_banner_content ul li 

.blog-v2-teaser.bottom .blog_v2_banner_content ul li a {
    color: #ffffff;
}

.blog-v2-teaser.bottom .blog_v2_banner_content ul li a:hover {
    text-decoration: none;
}

.blog-v2-teaser .button-container-combined{
    display:flex;
    margin-top: 20px;
}

.blog-v2-teaser .button-container-combined p a.button{
    padding:10px 10px;
}

.blog-v2-teaser .button-container-combined .button1 .button{
    background: #3CB8FF;
    color:#fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.blog-v2-teaser .button-container-combined .button2 .button{
    color:#fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.blog-v2-teaser.button-container-combined .button:hover{
    background-color: inherit;
    color:#000;
}

@media(max-width:1199px){
    .blog-v2-teaser.mobile-bullet-hide ul.lowerul{
        display:none;
    }

    .blog-v2-teaser.mobile-bullet-hide ul.lowerul{
        display:none;
    }
}

.blog_v2_banner_content .lowerul li {
    position: relative;
    padding-left: 15px; 
    font-size: 14px;
    font-weight: 300;
    line-height: 16.42px;
  }

  .blog_v2_banner_content .lowerul{
    padding:unset;
    list-style: none;
  }

  .blog_v2_banner_content .lowerul li::before {
    content: ''; 
    position: absolute; 
    left: 0; 
    top:4px;
    width: 8px; 
    height: 8px; 
    border-radius: 50%; 
    background-color: #8cb133;
  }

  .blog-v2-teaser .blog_v2_banner_content ul.upperul{
    display:flex!important;
    list-style: none;
    padding:0px;
    margin-bottom: 40px;
}

  .blog-v2-teaser .blog_v2_banner_content ul.upperul li:not(:last-child){
    margin-right:10px;
}

  .blog-v2-teaser .blog_v2_banner_content ul.upperul li{
        margin-bottom: 15px;
        box-sizing: border-box;
        list-style: none;
        display: flex;
        padding: 3px 6px;
        justify-content: center;
        align-items: center;
        background: #FFFFFF1F;
        font-size: 12px;
        border-radius: 4px;
}

.blog-v2-teaser .blog_v2_banner_content .p-description-n1,
.blog-v2-teaser .blog_v2_banner_content .p-description-n2,
.blog-v2-teaser .blog_v2_banner_content .p-description-n3{
    width:600px;
}

@media(max-width:1199px){
    .blog-v2-teaser .blog_v2_banner_content .p-description-n1,
.blog-v2-teaser .blog_v2_banner_content .p-description-n2,
.blog-v2-teaser .blog_v2_banner_content .p-description-n3{
    width:300px;
}
}
.blog-v2-teaser .blog_v2_banner_content h2, .blog-v2-teaser .blog_v2_banner_content h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 30.23px;
}

.blog-v2-teaser .blog_v2_banner_content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
}

@media(max-width:1199px){
    .blog-v2-teaser .blog_v2_banner_content p{
        font-size: 10px;
        font-weight: 400;
        line-height: 11.73px;
        margin: 0;
    }

    .blog-v2-teaser .blog_v2_banner_content ul{
        display:none!important;
    }

    .blog-v2-teaser .blog_v2_banner_content ul.upperul{
        display:none!important;
    }
}



