.quicktools {
    display: flex;
    flex-direction: column;
   
    align-items: flex-end;
}
 
.quicktool-item {
    padding: 10px 5px 0px 0px;
    display: flex;
    align-items: center;
    background-color: #F4F4F4;
    padding: 10px;
}
 
.quicktool-item-picture {
    width: 60px;
    height: 60px;
}
.quicktool-item-text {
    display: none;
}
 
.quicktool-item:hover .quicktool-item-text {
    display: flex;
    font-size: 12px;
}
.quick-apply{
    padding: 10px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    padding: 10px;
}
.quick-apply .quicktool-item-text{
    display: flex;
    font-size: 12px;
}
 
.quicktool-item-picture img {
    width: 24px; 
    height: 24px;
}