.headerMobile.block{
    display:none;
}
@media (width <= 786px){
    .headerMobile.block{
        display:block;
    }
  }

  .decorated-ul, .decorated-ol {
    display: none;
}

/* Show active elements */
.active {
    display: block;
}
