.card {

    /* Light gray border */



    /* Fixed height to make the card square */
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    /* Subtle shadow for a 3D effect */

    /* White background */
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    /* Smooth transition for hover effects */
    display: flex;
    /* Flex layout to center content */
    flex-direction: column;
    /* Vertical alignment */
    justify-content: space-between;
    /* Distribute space between elements */
    overflow: hidden;
    /* Ensure content stays within the card */
    text-overflow: ellipsis;
    /* Handle overflowed text with ellipsis */
    box-sizing: border-box;
    /* Include padding and border in dimensions */
    cursor: pointer;
    /* Pointer cursor for hover effect */
    flex-grow: 1;
}

.card:hover {
    transform: translateY(-5px);
    /* Slight lift effect on hover */
    box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
    /* More pronounced shadow on hover */
    background-color: #b9dc79;
    /* Light green background on hover */
    color: #fff;
    /* White text on hover */
}





/* Responsive design */
/*  */


.card.active {
    background-color: #b9dc79;
    /* Light green background when active */
    color: #fff;
    /* White text when active */
    box-shadow: 0 4px 10px rgba(0 0 0 / 15%);
    /* Consistent shadow on active */
}

.filters-dropdown-wrapper {
    padding: 15px;
}




.google-map {
    position: relative;
}



.section.branchlocator-container {
    margin-top: 65px;
    padding: 32px 40px;
}

/* 
.branchlocator-container .branchlocator-wrapper {
    max-width: -webkit-fill-available;
} */

.branchlocator-wrapper .branchlocator .filters-dropdown .filters {
    display: flex;
    flex-direction: row;
    background-color: #F0F6E4;
    border-radius: 4px;
    margin-bottom: 18px;
    justify-content: space-between;
    padding: 10px 24px;
    align-items: center;
}

.branchlocator-wrapper .branchlocator .filters-dropdown .filters .heading-container .heading {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.15px;
    text-align: left;
    color: #3B3B3B;
}

.branchlocator-wrapper .branchlocator .filters-dropdown .filters .inputs-container {
    display: flex;
    gap: 10px;
}

.branchlocator-wrapper .branchlocator .filters-dropdown .filters .inputs-container label {
    display: none;
}


.branchlocator-wrapper .branchlocator .filters-dropdown .filters .inputs-container .state-container,
.branchlocator-wrapper .branchlocator .filters-dropdown .filters .inputs-container .city-container,
.branchlocator-wrapper .branchlocator .filters-dropdown .filters .inputs-container .pincode-container {
    width: 100%;
    max-width: 220px;
}

.branchlocator-wrapper .branchlocator .filters-dropdown .filters select,
.branchlocator-wrapper .branchlocator .filters-dropdown .filters input {

    background-color: #FFFFFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
    color: #3B3B3B;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
}

.branchlocator-container .branchlocator-wrapper .google-map #map-canvas {
    max-height: 400px;
    height: 100%;
}

.branchlocator-container .branchlocator .google-map #map-card {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: #000000B2;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0 0 0 / 50%);
    width: 100%;
    max-width: 460px;
    overflow: hidden;
    z-index: 99;
}

.branchlocator-container .branchlocator .google-map #map-card #mapCardTitle {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.15px;
    text-align: left;
}

.branchlocator-container .branchlocator .google-map #map-card #mapCardAddress,
.branchlocator-container .branchlocator .google-map #map-card #mapCardPhone,
.branchlocator-container .branchlocator .google-map #map-card #mapCardHours {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 8px;
}

.branchlocator-container .branchlocator .google-map #map-card #getDirections {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    text-align: left;
    color: #3CB8FF;
    background: #000000B2;
    border-radius: 4px;
    margin-top: 24px;
    border: none;
    display: flex;
    align-items: center;
}

.branchlocator-container .branchlocator .google-map #map-card #mapCardPhone .phone-phone-no {
    margin-left: 10px;
    color: #3CB8FF;
}

.branchlocator-container .branchlocator .branch-locator .address-cards {
    display: flex;
    margin-top: 25px;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;

}

.branchlocator-container .branchlocator .branch-locator .address-cards .card {
    max-width: 308px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0px #0000000D;
    background-color: #ffffff;
}

.branchlocator-container .branchlocator .branch-locator .address-cards .card .location-title {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.15px;
    text-align: left;
    color: #3B3B3B;
    margin-top: 0;
    margin-bottom: 10px;
}

.branchlocator-container .branchlocator .branch-locator .address-cards .card .phone {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    text-align: left;
    color: #000000;
    margin-top: 0;
}

.branchlocator-container .branchlocator .branch-locator .address-cards .card .phone .phone-phone-no {
    font-weight: 400;
}

.branchlocator-container .branchlocator .branch-locator .address-cards .card .location-address,
.branchlocator-container .branchlocator .branch-locator .address-cards .card .hours {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    text-align: left;
    color: #3B3B3B;
    margin-top: 0;
}

.branchlocator-container .branchlocator .branch-locator .address-cards .card:hover {
    background-color: #8CB133;
}

.branchlocator-container .branchlocator .branch-locator .address-cards .card:hover .hours,
.branchlocator-container .branchlocator .branch-locator .address-cards .card:hover .location-address,
.branchlocator-container .branchlocator .branch-locator .address-cards .card:hover .phone,
.branchlocator-container .branchlocator .branch-locator .address-cards .card:hover .location-title {

    color: #ffffff;

}

@media(max-width:900px) {
    .branchlocator-wrapper .branchlocator .filters-dropdown .filters {
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 0px;
        margin-top: 16px;
    }

    .branchlocator-wrapper .branchlocator .filters-dropdown .filters .heading-container .heading {
        font-size: 12px;
        line-height: 14.08px;
    }

    .branchlocator-wrapper .branchlocator .filters-dropdown .filters .inputs-container {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .branchlocator-wrapper .branchlocator .filters-dropdown .filters .inputs-container .city-container {
        display: none;
    }

    .branchlocator-wrapper .branchlocator .filters-dropdown .filters select,
    .branchlocator-wrapper .branchlocator .filters-dropdown .filters input {
        background-color: #F4F4F4;

        font-size: 10px;
        line-height: 14px;

    }

    .branchlocator-container .branchlocator .google-map #map-card {
        max-width: 185px;
        left: 10px;
    }

    .branchlocator-container .branchlocator .google-map #map-card #mapCardAddress,
    .branchlocator-container .branchlocator .google-map #map-card #mapCardPhone,
    .branchlocator-container .branchlocator .google-map #map-card #mapCardHours {
        font-size: 10px;
        line-height: 12px;
    }

    .branchlocator-container .branchlocator .google-map #map-card #mapCardTitle {
        font-size: 14px;
        line-height: 16.42px;
    }

    .branchlocator-container .branchlocator .google-map #map-card {
        padding: 10px 8px;
    }

    .branchlocator-container .branchlocator .google-map #map-card #getDirections {
        background-color: unset;
        margin-top: 10px;
        padding-left: 0;
        padding-top: 8px;
    }

    .branchlocator-container .branchlocator .branch-locator .address-cards .card {
        max-width: 182px;
        padding: 10px;
        background-color: #F4F4F4;
        margin-bottom: 16px;
    }

    .branchlocator-container .branchlocator .branch-locator .address-cards .card .location-title {
        font-size: 14px;
        line-height: 16.42px;

    }

    .branchlocator-container .branchlocator .branch-locator .address-cards .card .phone {
        font-size: 12px;
        line-height: 14.08px;
        margin-bottom: 6px;
    }

    .branchlocator-container .branchlocator .branch-locator .address-cards .card .location-address,
    .branchlocator-container .branchlocator .branch-locator .address-cards .card .hours {
        font-size: 10px;
        line-height: 14.08px;
        margin-bottom: 6px;
    }

    .branchlocator-container .branchlocator .branch-locator .address-cards .card .phone .phone-phone-no {
        color: #3CB8FF;
    }

    .branchlocator-container .branchlocator-wrapper .google-map #map-canvas {
        height: 300px !important;
    }

    .branchlocator-container .branchlocator-wrapper .google-map #map-canvas .branchlocator-wrapper .branchlocator .filters-dropdown .filters select,
    .branchlocator-wrapper .branchlocator .filters-dropdown .filters input {
        width: -webkit-fill-available;
        /* For Chrome, Safari, Opera */
        width: -moz-available;
        /* For Firefox */
        width: fill-available;
    }

    .branchlocator-container .default-content-wrapper h2 {
        font-size: 24px;
        line-height: 28.15px;
    }


}

@media(max-width:600px) {
    .branchlocator-container .branchlocator-wrapper .google-map #map-canvas {
        height: 230px !important;
    }
}

@media(min-width:600px) and (max-width:900px) {
    .branchlocator-container .branchlocator .google-map #map-card {
        top: 54px;
        bottom: 54px;
    }

    .branchlocator-wrapper .branchlocator .filters-dropdown .filters .heading-container .heading {
        font-size: 14px;
        line-height: 16.42px;
    }

    .branchlocator-container .branchlocator .branch-locator .address-cards .card {
        padding: 10px 8px;
    }
}