/* .section.carousel-v1-container{
    display: none;
}
.carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%; 
    margin: 0 auto; 
}

.teaser-wrapper {
    display: flex;
    transition: transform 0.5s ease; 
}

.teaser-container {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 10px; 
}

.carousel-control {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5); 
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 10;
    color: #333; 
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
}

.carousel-dots {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .carousel-dots {
        text-align: start;
        margin-left: 10px;
    }
}



.carousel-dot {
    display: inline-block;
    width: 16px;
    height: 8px;
    background: #FFFDFD57;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 1px;
}

.carousel-dot.active {
    background-image: linear-gradient(to right, white 50%, #555 50%);
    width:96px;
    height: 8px;
}

@media (max-width: 600px) {
    .carousel-dot {
        left: 20px!important;
        text-align: left!important;
        height: 4px!important;
        width: 8px!important;
    }
    .carousel-dot.active {
        width:48px!important;
        height: 4px!important;
    }
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-numbers .carousel-number.active{
    color:green;
}
.carousel-timer-line {
    height: 4px;
    width: 0%;
    background-color: green; 
    transition: width 0.5s ease;
}
.carousel-numbers{
    text-align: end;
    margin-right: 50px;
}
.carousel-numbers .carousel-number{
    background:none;
}
.summary{
    font-size: 14px;
}

.carousel-v1 .carousel-v1-slides-container {
    position: relative;
  }
  
  .carousel-v1 .carousel-v1-slides,
  .carousel-v1 .carousel-v1-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel-v1 .carousel-v1-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: scroll clip;
  }
  
  .carousel-v1 .carousel-v1-slides::-webkit-scrollbar {
    display: none;
  }
  
  .carousel-v1 .carousel-v1-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: min(40rem, calc(100svh - var(--nav-height)));
  }
  
  .carousel-v1 .carousel-v1-slide:has(.carousel-v1-slide-content[data-align="center"]) {
    align-items: center;
  }
  
  .carousel-v1 .carousel-v1-slide:has(.carousel-slide-content[data-align="right"]) {
    align-items: flex-end;
  }
  
  .carousel-v1 .carousel-v1-slide .carousel-slide-image picture {
    position: absolute;
    inset: 0;
  }
  
  .carousel-v1 .carousel-v1-slide .carousel-v1-slide-image picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .carousel-v1 .carousel-v1-slide .carousel-v1-slide-content {
    z-index: 1;
    padding: 1rem;
    margin: 1.5rem 3rem;
    color: white;
    background-color: rgba(0 0 0 / 50%);
    position: relative;
    width: var(--slide-content-width, auto);
  }
  
  .carousel-v1 .carousel-v1-slide-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .carousel-v1 .carousel-v1-slide-indicator button {
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 1rem;
    background-color: rgba(0 0 0 / 25%);
  }
  
  .carousel-v1 .carousel-v1-slide-indicator button:disabled,
  .carousel-v1 .carousel-v1-slide-indicator button:hover,
  .carousel-v1 .carousel-v1-slide-indicator button:focus-visible {
    background-color: rgba(0 0 0 / 80%);
  }
  
  .carousel-v1 .carousel-v1-slide-indicator span,
  .carousel-v1 .carousel-v1-navigation-buttons span {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  
  .carousel-v1 .carousel-v1-navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  

  .carousel-v1 .carousel-v1-navigation-buttons button {
    border-radius: 8px;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    position: relative;
    background-color: rgba(0 0 0 / 25%);
  }
  
  .carousel-v1 .carousel-v1-navigation-buttons button:hover,
  .carousel-v1 .carousel-v1-navigation-buttons button:focus-visible {
    background-color: rgba(0 0 0 / 80%);
  }
  
  .carousel-v1 .carousel-v1-navigation-buttons button::after {
    display: block;
    content: "";
    border: 3px white solid;
    border-bottom: 0;
    border-left: 0;
    height: 0.75rem;
    width: 0.75rem;
    position: absolute;
    top: 50%;
    left: calc(50% + 3px);
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  
  .carousel-v1 .carousel-v1-navigation-buttons button.slide-next::after {
    transform: translate(-50%, -50%)  rotate(45deg);
    left: calc(50% - 3px);
  }
  
  @media (width >= 600px) {
    .carousel-v1 .carousel-v1-navigation-buttons {
      left: 1rem;
      right: 1rem;
    }
  
    .carousel-v1 .carousel-v1-navigation-buttons button {
      width: 3rem;
      height: 3rem;
    }
  
    .carousel-v1 .carousel-v1-navigation-buttons button::after {
      width: 1rem;
      height: 1rem;
    }
  
    .carousel-v1 .carousel-v1-slide .carousel-v1-slide-content {
      --slide-content-width: 50%;
  
      margin: 2.5rem 5rem;
    }
  
    .carousel-v1 .carousel-v1-slide .carousel-v1-slide-content[data-align="justify"] {
      --slide-content-width: auto;
    }
  } */

  .carousel-v1 .carousel-v1-slides-container {
    position: relative;
  }
  
  .carousel-v1 .carousel-v1-slides,
  .carousel-v1 .carousel-v1-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel-v1 .carousel-v1-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: scroll clip;
  }
  
  .carousel-v1 .carousel-v1-slides::-webkit-scrollbar {
    display: none;
  }
  
  .carousel-v1 .carousel-v1-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    /* min-height: min(40rem, calc(100svh - var(--nav-height))); */
  }
  
  .carousel-v1 .carousel-v1-slide:has(.carousel-v1-slide-content[data-align="center"]) {
    align-items: center;
  }
  
  .carousel-v1 .carousel-v1-slide:has(.carousel-slide-content[data-align="right"]) {
    align-items: flex-end;
  }
  
  .carousel-v1 .carousel-v1-slide .carousel-slide-image picture {
    position: absolute;
    inset: 0;
  }
  
  .carousel-v1 .carousel-v1-slide .carousel-v1-slide-image picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .carousel-v1 .carousel-v1-slide .carousel-v1-slide-content {
    z-index: 1;
    padding: 1rem;
    margin: 1.5rem 3rem;
    color: white;
    background-color: rgba(0 0 0 / 50%);
    position: relative;
    width: var(--slide-content-width, auto);
  }
  
  .carousel-v1 .carousel-v1-slide-indicators {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
  }
  
  .carousel-v1 .carousel-v1-slide-indicator button {
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 1rem;
    background-color: rgba(0 0 0 / 25%);
  }
  
  .carousel-v1 .carousel-v1-slide-indicator button:disabled,
  .carousel-v1 .carousel-v1-slide-indicator button:hover,
  .carousel-v1 .carousel-v1-slide-indicator button:focus-visible {
    background-color: rgba(0 0 0 / 80%);
  }
  
  .carousel-v1 .carousel-v1-slide-indicator span,
  .carousel-v1 .carousel-v1-navigation-buttons span {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  
  .carousel-v1 .carousel-v1-navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  
  /* stylelint-disable-next-line no-descending-specificity */
  .carousel-v1 .carousel-v1-navigation-buttons button {
    border-radius: 8px;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    position: relative;
    background-color: rgba(0 0 0 / 25%);
  }
  
  .carousel-v1 .carousel-v1-navigation-buttons button:hover,
  .carousel-v1 .carousel-v1-navigation-buttons button:focus-visible {
    background-color: rgba(0 0 0 / 80%);
  }
  
  .carousel-v1 .carousel-v1-navigation-buttons button::after {
    display: block;
    content: "";
    border: 3px white solid;
    border-bottom: 0;
    border-left: 0;
    height: 0.75rem;
    width: 0.75rem;
    position: absolute;
    top: 50%;
    left: calc(50% + 3px);
    transform: translate(-50%, -50%) rotate(-135deg);
  }
  
  .carousel-v1 .carousel-v1-navigation-buttons button.slide-next::after {
    transform: translate(-50%, -50%)  rotate(45deg);
    left: calc(50% - 3px);
  }
  
  @media (width >= 600px) {
    .carousel-v1 .carousel-v1-navigation-buttons {
      left: 1rem;
      right: 1rem;
    }
  
    .carousel-v1 .carousel-v1-navigation-buttons button {
      width: 3rem;
      height: 3rem;
    }
  
    .carousel-v1 .carousel-v1-navigation-buttons button::after {
      width: 1rem;
      height: 1rem;
    }
  
    .carousel-v1 .carousel-v1-slide .carousel-v1-slide-content {
      --slide-content-width: 50%;
  
      margin: 2.5rem 5rem;
    }
  
    .carousel-v1 .carousel-v1-slide .carousel-v1-slide-content[data-align="justify"] {
      --slide-content-width: auto;
    }
  }

  .carousel-v1-slides-container {
    position: relative; /* Ensure container is the reference for absolute positioning */
  }
  
  .carousel-v1--navigation-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: none; /* Ensure only buttons are clickable */
  }
  
  .carousel-v1--navigation-buttons button {
    pointer-events: all; /* Restore clickability to buttons */
    background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    color: white; /* Optional: button text color */
    border: none; /* Optional: remove button borders */
    padding: 10px; /* Optional: button padding */
    cursor: pointer; /* Optional: change cursor on hover */
  }
  
  .section.hero-carousel-v1.carousel-v1-container div{
    max-width: unset;
  }

  .carousel-v1--navigation-buttons{
    display: none;
  }