.block.teaser-thankyou-cards.center {
    text-align: center;
}

.block.teaser-thankyou-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block.teaser-thankyou-cards>div {
    display: flex;
    gap: 30px;
    flex-flow: column;
}

.block.teaser-thankyou-cards .teaser {
    box-sizing: border-box;
    flex: 0 1 auto;
}

.block.teaser-thankyou-cards p.image {
        margin: 0;
        position: absolute;
        inset: 0;
        z-index: -1;
}

@media (max-width: 767px) {
    .block.teaser-thankyou-cards p.image {
        /* position: relative;  */
        inset: initial; 
        z-index: 2;
    }
}

@media (max-width: 767px) {
    .block.teaser-thankyou-cards p.image img {
        display: block; /* Ensure the image is visible */
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Ensure the image fills its container */
    }
}

.block.teaser-thankyou-cards img {
    max-width: 100%;
    object-fit: fill;
}


/* teaser title */
.block.teaser-thankyou-cards :is(h2, h3, h4) {
    margin: 0 0 10px;
    letter-spacing: -.1px;
    line-height: 1.3333em;
}

.block.teaser-thankyou-cards h2 {
    letter-spacing: 3.6px;
    font-size: 14px;
    line-height: 1em;
}

/* teaser text */
.teaser-thankyou-cards p.text {
    font-size: 14px;
    margin: 0 0 8px;
    letter-spacing: -.1px;
}
@media(max-width:767px){
    .teaser-thankyou-cards p.text {
    font-size: 14px;
    font-weight: 300;
    line-height: 23.46px;
    text-align: center;
    margin:0;
    }
}

/* cta's (maybe remove button container completely) */
.teaser-thankyou-cards .button-container {
    margin: 0;
}

/* single teaser */
.teaser-thankyou-cards-wrapper.teaser-cards-1 {
    padding: 0;
    max-width: 888px;
}

.teaser-cards-1 .block.teaser-thankyou-cards .teaser {
    width: 100%;
    padding: 0 0 24px;
    background-color: lightgray;
    text-align: center;
}

.teaser-cards-1 .block.teaser-thankyou-cards :is(h2, h3,h4,h1,h5,h6) {
    margin: 30px 0 16px;
    font-size: 48px;
    margin:0;
    color: #8CB133;
    font-weight: 600;
}
@media(max-width:767px){
    .teaser-cards-1 .block.teaser-thankyou-cards :is(h2, h3,h4,h1,h5,h6){
        font-size: 24px;
    }
}

.teaser-cards-1 .block.teaser-thankyou-cards p.text {
    display: none;
}

.teaser-cards-1 .block.teaser-thankyou-cards p.special-paragraph {
    max-width: 426px;
}

.block.teaser-thankyou-cards a {
    background-color: transparent;
}

.block.teaser-thankyou-cards a:hover {
    border-color: #303033;
    color: #303033;
}

.block.teaser-thankyou-cards.teaser.with-cta-list :is(h2, h3, h4) a::after {
    display: none;
}

.block.teaser-thankyou-cards .teaser.with-cta-list .cta-list {
    margin-top: 20px;
}

/* center */
.block.teaser-thankyou-cards.center .teaser {
    text-align: center;
}

/* link list on mobile */
.block.teaser-thankyou-cards.link-list-on-mobile>div {
    flex-flow: column;
}

.block.teaser-thankyou-cards.link-list-on-mobile p.image {
    display: none;
}

.block.teaser-thankyou-cards .link-with-video p.image {
    display: block;
}

@media(width <= 767px) {
    .block.teaser-thankyou-cards>div,
    .block.teaser-cards.link-list-on-mobile>div {
        flex-flow: row;
    }

    /* each teaser div in the row */
    .block.teaser-thankyou-cards .teaser {
        width: 50%;
    }

    .block.teaser-thankyou-cards :is(h2, h3) {
        margin: 24px 0 10px;
    }

    /* image */
    .block.teaser-thankyou-cards.link-list-on-mobile p.image {
        display: block;
    }

    /* single teaser */
    .teaser-cards-1 .block.teaser-thankyou-cards .teaser {
        padding: 8px 0;
        min-height: 250px;
        position: relative;
        background: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards.dark .teaser {
        color: var(--text-color);
    }

    .teaser-cards-1 .block.teaser-thankyou-cards :is(h2, h3, p.text, p.special-paragraph) {
        display: block;
        max-width: 350px;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards :is(p.special-paragraph) {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.77px;
        text-align: center;
        color:#3b3b3b;
    }

    .teaser-cards-1 .block.teaser-cards :is(h2, h3) {
        margin-block-start: 0;
    }

    /* .teaser-cards-1 .block.teaser-thankyou-cards p.image {
        margin: 0;
        position: absolute;
        inset: 0;
        z-index: -1;
    } */

    .teaser-cards-1 .block.teaser-thankyou-cards .teaser p:last-child{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.42px;
        margin-top:10px!important;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards p.image::after {
        display: block;
        position: absolute;
        inset: 0;
        background-color: inherit;
        content: "";
        opacity: .15;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards p.image img {
        height: 100%;
        width: 100%;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards a {
        background-color: rgb(255 255 255 / 80%);
        border-color: #fff;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards a:hover {
        background-color: rgb(255 255 255 / 80%);
        border-color: #fff;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards.dark a {
        background-color: rgb(83 86 90 / 80%);
        border-color: rgb(83 86 90 / 80%);
        color: #fff;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards.dark a:hover {
        background-color: rgb(255 255 255 / 80%);
        color: #e1dfdd;
    }
}

.teaser-cards-1 .block.teaser-thankyou-cards .teaser p:last-child{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    margin-top:35px!important;
}

@media(max-width:767px){
    .section.teaser-thankyou-cards-container{
        border-radius: 20px 20px 0px 0px;
        position: relative;
        bottom: 30px;
        background-color: #fff;
        padding-bottom: 0px;
    }
}

.teaser-cards-1 .block.teaser-thankyou-cards p.image::after {
    display: block;
    position: absolute;
    inset: 0;
    background-color: inherit;
    content: "";
    opacity: .15;
}

.teaser-cards-1 .block.teaser-thankyou-cards .teaser {
    padding: 8px 0;
    min-height: 250px;
    position: relative;
    background: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(width >= 992px) {
    .block.teaser-thankyou-cards :is(h2, h3) {
        margin-bottom: 16px;
    }

    /* single teaser */
    .teaser-cards-1 .block.teaser-thankyou-cards .teaser {
        min-height: 471px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .teaser-cards-1 .block.teaser-thankyou-cards p.text {
        display: block;
        max-width: 870px;
        font-size: 24px;
        font-weight: 300;
        line-height: 28.15px;
        color:#3b3b3b;
    }
}