.infopolicies-container .infopolicies-wrapper{
  background-color: #fff;
  border-radius: 4px;
}

@media(width >= 600px){
  .infopolicies-container .infopolicies-wrapper{
    background-color: #f4f4f4;
    border-radius: 4px;
  }
}

@media(width >= 600px){
  .infopolicies-container .infopolicies.block{
    max-width: 1060px;
    margin: auto;
    width: 100%;
    padding:40px 0;
  }
}

.infopolicies-container .dropdown-container-for-desktop option{
}


.infopolicies-container .infopolicies.block .title-container{

}

.infopolicies-container .infopolicies-wrapper .tabs-content .navigation{
  cursor: pointer;
  padding: 15px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
}

.infopolicies-container .infopolicies-wrapper .tabs-content .navigation ul{
  color:#8cb133;
  font-size: 1.5em;
  /* padding:0; */
}

.infopolicies-container .infopolicies-wrapper .tabs-content .navigation ul a{
  text-decoration: none;
  color:#000;
  font-size: 16px;
  font-weight: 400;
}

.infopolicies-container .tabs-container{
  display: flex;
  padding:10px;
  border-radius: 4px;
  background-color: #fff;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media(width >= 600px){
  .infopolicies-container .tabs-container{
    display: flex;
    padding:10px;
    border-radius: 4px;
    background-color: #e8e8e8;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

.infopolicies-container .tabs-container::-webkit-scrollbar {
  display: none;
}

.infopolicies-container .tab {
  flex: 0 0 auto; 
  padding: 10px 20px; 
  white-space: nowrap; 
}


.infopolicies-container .tabs-container .tab.active{
  background-color: #3cb8ff;
  color:#fff;
}

.infopolicies-container .tabs-container .tab:not(:last-child) {
  margin-right: 20px;
}

.infopolicies-container .tabs-container .dropdown-container-for-desktop{
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infopolicies-container .dropdown-container-for-mobile{
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.infopolicies-container .dropdown-container-for-mobile .dropdown{
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  height:28px;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
}


.infopolicies-container .tabs-container .dropdown-container-for-desktop .dropdown{
  height: 40px;
  text-align: center;
  background-color: #fff;
  border:none;
  border-radius: 4px;
}

.infopolicies-container .tabs-container .tab{
    background-color: #f4f4f4;
    border-radius: 4px;
    padding:5px 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

@media(width >= 600px){
  .infopolicies-container .tabs-container .tab{
    background-color: #f4f4f4;
    border-radius: 4px;
    padding:5px 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
}

.accordion-header {
    cursor: pointer;
    padding: 15px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    /* height: 60px; */
    font-size: 16px;
    font-weight: 400;
  }

  @media(width <= 600px){
    .accordion-header {
      background-color: #fff;
    }
  }
  .accordion-header.active {
    background-color: #fff;
  }
  .accordion-content {
    padding: 15px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #f4f4f4;
    display: none;
  }
  .accordion-content.active {
    display: block;
  }

  .accordion-header {
    background-image: url('/icons/+.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }
  
  .accordion-header.active {
    background-image: url('/icons/-.png'); 
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }
  