.section.clientreviewcarousel-container {
  margin-top: 110px;
}
.swiper-container {
    height: 310px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  .swiper-slide {
    width: 540px;
    height: 248px;
    margin-right: 40px;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
  }
  
  .swiper-slide:nth-child(2) {
    width: 810px;
    height: 310px;
    margin-right: 40px;
  }
  
  .swiper-slide:nth-child(3) {
    width: 86px;
    height: 248px;
    margin-right: 0; 
  }
  

  .swiper-slide:nth-child(n+4) {
    width: 540px; 
    height: 248px; 
    margin-right: 40px; 
  }
 
  .picture-nameplace-container {
    margin-right: 10px; 
    display: flex;
  }

  .picture-nameplace-container img{
    width: 120px;
    height: 120px;
  }
  
  .picture-nameplace-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .info-container {
    flex-grow: 1; 
  }
  
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
  }
  
  .swiper-wrapper {
    height: 310px; 
    overflow: hidden; 
  }
  
  .swiper-slide {
    width: 100%; 
    height: 100%;
  }
  