footer {
  padding: 3rem 2rem;
background-color: #F0F6E4;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 14px;
}

.footer-footer-1 .default-content-wrapper ul{
list-style-type: none;
padding:unset;
}

footer .footer-li{
  position:relative;
  font-size: 14px;
}

footer .footer-footer-1 .default-content-wrapper h4{
  font-size: 24px;
  margin-right: 50px;
}

footer .footer-footer-1 .default-content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #8cb133;
  border-right: 1px solid #8cb133; 
}

footer .footer-footer-1 .default-content-wrapper ul{
  list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

footer .footer-footer-1 .default-content-wrapper li {
  margin: 5px 0;
}

footer .footer-footer-1 .default-content-wrapper li strong{
  /* display: block; */
  margin-bottom: 5px;
}

footer .footer-footer-1 .default-content-wrapper li ul{
  padding-left: 20px;
}

footer .footer-li::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: .5em;
  margin-left:10px;
  transform: rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid currentcolor;
  border-radius: 0 1px 0 0;
  border-width: 2px 2px 0 0;
}

footer .footer-li[aria-expanded="true"]::after {
  transform: rotate(315deg);
}

footer .footer-footer-1 .default-content-wrapper > ul > li > ul {
  display: none;
  position: relative;
}

footer .footer-footer-1 .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
  display: block;
}

footer .footer-footer-1 .default-content-wrapper{
  margin:unset;
}

footer .third-section-wrapper .third-section > div {
  display: flex;
  justify-content: space-around;
  gap:12px;
}

footer .partitionfirstcolumn picture img{
  width: auto;
  height: auto;
  max-height: 70px;
}

footer .partitionfirstcolumn-container{
  display: grid;
  grid-template-columns: repeat(2, 25%) auto;
}

footer .third-section-wrapper{
  margin:unset;
}

footer .default-content-wrapper :is(h1, h2, h3, h4, h5, h6){
  margin:unset;
}

footer .partitionfirstcolumn-container .partitionfirstcolumn > div:last-child img{
  height:48px;
  width:48px;
} 

.section.copyright-section{
  /* background: #8cb133; */
}

.section.copyright-section .default-content-wrapper{
  display: flex;
  justify-content: space-between;

}

.section.copyright-section .default-content-wrapper p{
  font-size: 12px;
padding:0;
padding-top:20px;
}

@media (min-width: 600px) {
.subfooter-wrapper{
  display:none;
}
}

@media (max-width: 600px) {
.footer-wrapper{
  display:none;
}
}



