footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.hidden {
  display: none;
}

.active {
  font-weight: bold;
}

/* Hide both divs by default */
.footer-wrapper, .subfooter-container {
  display: none;
}

.third-section-wrapper.third-section {
  display: none;
}

/* Show the desktop div on screens wider than 768px (desktop view) */
@media (min-width: 769px) {
  .third-section-wrapper{
    display: block;
  }
  .footer-wrapper {
      display: block;
  }
}

/* Show the mobile div on screens 768px wide or narrower (mobile view) */
@media (max-width: 768px) {
  .subfooter-container {
      display: block;
  }

  .third-section-wrapper.third-section {
    display: none;
  }
}

