
.customer-support-v1 {
  background: #F4F8EB;
  @media (max-width: 768px) {
    background: none;
  }
}
.cards-header {
    text-align: center;
    font-size: 2rem;
  }
   
  /* Style for the cards container */
  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:5px;
  }
   
  /* Style for each card */
  .cards {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px #0000001F;
  }
  @media (max-width: 768px) {
    .cards {
        flex:1;
        box-sizing: border-box;
        margin:0;
    }
  }


   
  /* Style for images inside the cards */
  .cards img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
  }
   
  /* Style for text inside the cards */
  .cards p {
    margin: 0;
    font-size: 14px;
    text-align: left;
    flex: 1;
  }
   
  .cards-remove{
    display: none;
  }

  .cards-footer{
    text-align: center;
    font-size: 14px;
    padding:5px;
  }

  @media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
  }

  @media(min-width:769px){
    .show-on-mobile {
      display:none;
    }
  }

  .hide-on-mobile div :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding: 15px;
    font-weight: 500;
}

  .show-on-mobile div :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    padding: 15px;
    font-weight: 500;
}

.customer-support-v1 .cards-container .cards{
  cursor: pointer;
}