.overlay-teaser {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c9c9c9;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.overlay-teaser.overlay-bg .overlayteaser-banner__content p .button-container{
    display:inline;
}

.overlayteaser-banner__content .button-container-wrapper{
    display:flex;
    margin-top: 20px;
}

.overlayteaser-banner__content .button-container-wrapper p a.button{
    padding:10px 10px;
}

.overlayteaser-banner__content .button-container-wrapper .button3 .button{
    background: #3CB8FF;
    color:#fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.overlayteaser-banner__content .button-container-wrapper .button4 .button{
    color:#fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.overlayteaser-banner__content .button-container-wrapper .button4 .button:hover{
    background-color: inherit;
    color:#000;
}

@media(max-width:1200px){
    .section.overlay-teaser-container{
        padding:unset;
    }
    .overlay-teaser.overlay-bg .overlayteaser-banner__content{
        background:unset!important;
    }
}

@media(min-width:768px)and (max-width:1200px)
{
    .overlay-teaser::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 20.16%, #000000 100%);
        z-index: 0;
        pointer-events: none;
    }
}

.overlay-teaser.overlay-bg .overlayteaser-banner__content{
    background: rgba(0, 0, 0, 0.5);
    width: 60.58%;
    display: flex;
    margin-left: 25px;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: width 0.3s ease-in-out;
}

.overlay-teaser.overlay-bg .overlayteaser-banner__content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    color:#fff;
}

@media(max-width:768px) {
    .overlay-teaser .overlayteaser-banner__content {
        width: 300px;
    }
}

/* when text is center left and right  */
@media(min-width:769px) {
    .overlay-teaser.center .overlayteaser-banner__content-wrapper {
        width: 100%;
        max-width: 1200px;
        padding: 24px 0;
        display: flex;
        justify-content: center;
    }

    .overlay-teaser.right .overlayteaser-banner__content-wrapper {
        width: 100%;
        max-width: 1200px;
        padding: 24px 0;
        display: flex;
        justify-content: end;
    }

    .overlay-teaser.left .overlayteaser-banner__content-wrapper {
        width: 100%;
        max-width: 1200px;
        padding: 24px 0;
        display: flex;
        justify-content: start;
    }

}


.overlay-teaser .overlayteaser-banner__content p,
.overlay-teaser .overlayteaser-banner__content ul,
.overlay-teaser .overlayteaser-banner__content h1,
.overlay-teaser .overlayteaser-banner__content h2,
.overlay-teaser .overlayteaser-banner__content h3,
.overlay-teaser .overlayteaser-banner__content h4,
.overlay-teaser .overlayteaser-banner__content h5,
.overlay-teaser .overlayteaser-banner__content h6 {
    color: #ffffff;
    text-align: start;
    z-index: 2;
    margin: 10px 0;
}

.overlay-teaser .overlayteaser-banner__content h2,
.overlay-teaser .overlayteaser-banner__content h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 30.23px;
}
@media(max-width:767px){
    .overlay-teaser .overlayteaser-banner__content h2,
    .overlay-teaser .overlayteaser-banner__content h3{
        font-size: 16px;
        font-weight: 600;
        line-height: 16.46px;
    }
}

.overlay-teaser.black .overlayteaser-banner__content p,
.overlay-teaser.black .overlayteaser-banner__content ul,
.overlay-teaser.black .overlayteaser-banner__content h1,
.overlay-teaser.black .overlayteaser-banner__content h2,
.overlay-teaser.black .overlayteaser-banner__content h3,
.overlay-teaser.black .overlayteaser-banner__content h4,
.overlay-teaser.black .overlayteaser-banner__content h5,
.overlay-teaser.black .overlayteaser-banner__content h6 {
    color: #000;
    text-align: start;
    z-index: 2;
    margin: 0;
}

.overlay-teaser.row-wise .overlayteaser-banner__content ul li::marker {
    color: #8cb133;
    font-size: 1.2rem;
}

.overlay-teaser.row-wise .overlayteaser-banner__content ul {
    list-style-position: inside;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.77px;
    text-align: left;
    margin-bottom: 40px;
}

.overlay-teaser.row-wise .overlayteaser-banner__content p.button-container a {
    background: #3b3b3b;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 14px;
    display: inline-block !important;
    color: #fff;
    font-weight: 500;
}

@media(max-width:768px) {
    .overlay-teaser.row-wise .overlayteaser-banner__content p.button-container a {
        background: #3b3b3b;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 12px 20px;
        font-size: 12px;
        display: inline-block !important;
        color: #fff;
        font-weight: 500;
    }
}

@media(min-width:769px) {
    .overlay-teaser.row-wise .overlayteaser-banner__content ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .overlay-teaser.row-wise .overlayteaser-banner__content ul li {
        width: 48%;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 5px;
    }
}

.overlay-teaser.black .overlayteaser-banner__content p {
    color: #000;
}

@media (max-width:768px) {
    .overlay-teaser .overlayteaser-banner__content p {
        color: #ffffff;
        text-align: start;
        z-index: 2;
        margin: 0;
        font-size: 20px;
        font-weight: 300;
        line-height: 23.46px;
    }

    .overlay-teaser .overlayteaser-banner__content ul {
        color: #ffffff;
        text-align: start;
        z-index: 2;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.08px;
        padding: 0;
    }
}


.overlay-teaser .overlayteaser-banner__content-wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 24px 0;
}

@media (max-width: 1200px) {
    .overlay-teaser .overlayteaser-banner__content {
        width: 80%;
        transition: width 0.3s ease-in-out; 
    }
    .overlay-teaser .overlayteaser-banner__content .nth1{
        display:none!important;
    }

    .overlay-teaser.overlay-bg .overlayteaser-banner__content p{
        font-size: 10px;
        font-weight: 400;
        line-height: 11.73px;
        margin:0;
    }
}

@media (max-width: 768px) {
    .overlay-teaser {
        height: 280px;
    }

    .overlay-teaser .overlayteaser-banner__content {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
}

@media (min-width: 769px) and (max-width:1199px) {
    .overlay-teaser {
        height: 355px;
    }

    .overlay-teaser .overlayteaser-banner__content {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
}