.grievance-tabs .grievance-tabs-list {
  display: flex;
  gap: 10px;
  max-width: 100%;
  overflow-x: auto;
}

.grievance-tabs .grievance-tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border-radius: 4px;
  padding: 10px 10px;
  background-color: #fff;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: center;
}

.grievance-tabs .grievance-tabs-list button p{
  margin:0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: center;
}

.grievance-tabs .grievance-tabs-list button[aria-selected="true"] {
  border-bottom: 1px solid #3cb8ff;
  background-color: #3cb8ff;
  color:#fff;
  cursor: initial;
}

.grievance-tabs .grievance-tabs-list button[aria-selected="false"]:hover,
.grievance-tabs .grievance-tabs-list button[aria-selected="false"]:focus {
  background-color: var(--dark-color);
}

.grievance-tabs .grievance-tabs-panel {
  margin-top: -1px;
  padding: 0 16px;
  /* border: 1px solid var(--dark-color); */
  overflow: auto;
}

.grievance-tabs .grievance-tabs-panel[aria-hidden="true"] {
  display: none;
}
