/* .applynowform .field-wrapper {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    padding: 8px;
} */

.applynowform fieldset {
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
    border: none;
    padding: 0;
}

@media (width >=900px) {
    .applynowform fieldset {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}

.applynowform fieldset>legend {
    font-weight: 700;
    font-size: var(--heading-font-size-xs);
}

.applynowform label {
    font-weight: 700;
    font-size: var(--body-font-size-xs);
    margin-bottom: 0.25em;
}

.applynowform input:focus-visible {
    outline: none;
}

.applynowform input,
.applynowform select,
.applynowform textarea {
    font-size: var(--body-font-size-s);
    width: 100%;
    color: #585858;
    display: block;
    padding: 12px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
}

.applynowform input:autofill {
    background-color: var(--background-color) !important;
}

.applynowform textarea {
    resize: vertical;
}

/* .applynowform .selection-wrapper input {
    width: 16px;
} */

.applynowform .selection-wrapper label {
    margin-bottom: 0;
}

/* 
.applynowform input:hover {
    border: 1px solid var(--text-color);
} */

.applynowform .button {
    max-width: 225px;
    font-size: var(--body-font-size-m);
    padding: 0.2em 0.4em;
}

/* .applynowform .field-wrapper.selection-wrapper {
    grid-auto-flow: column;
    justify-content: start;
    gap: 16px;
    width: fit-content;
} */


/* .applynowform input[required]+label::after {
    content: "*";
    color: firebrick;
    margin-inline-start: 1ch;
} */

.applynowform .toggle-wrapper .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.applynowform .toggle-wrapper input {
    opacity: 0;
    width: 0;
    height: 0;
}

.applynowform .toggle-wrapper .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--dark-color);
    transition: 0.4s;
    border-radius: 30px;
}

.applynowform .toggle-wrapper .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--background-color);
    transition: 0.4s;
    border-radius: 50%;
}

.applynowform .toggle-wrapper input:checked+.slider {
    background-color: var(--link-color);
}

.applynowform .toggle-wrapper input:focus+.slider {
    outline: 2px solid var(--link-color);
    outline-offset: 2px;
}

.applynowform .toggle-wrapper input:checked+.slider::before {
    transform: translateX(24px);
}



/* custom css */


.applynowform-container .applynowform-wrapper {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
}


.applynowform .radio-wrapper input[type="checkbox"] {
    display: none;
}

/* Style labels */
.applynowform .radio-wrapper label {
    padding: 10px;
    background: #ffffff;
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}

/* Active class styling */
.applynowform .radio-wrapper.active label {
    background: green;
}


.applynowform #applynowform-box {
    display: flex;
}


.applynowform input[type="checkbox"] {
    display: none;
}

.applynowform .selection-wrapper label {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
}

.applynowform .selection-wrapper.checked label {
    background-color: #8CB133;
}

.applynowform .field-wrapper.field-wrapper #form-tems {
    display: flex;
    flex-direction: column;
    gap: 0;
}


.applynowform-container {
    background-color: #F2F2F2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 734px;
    margin: 50px auto;
}


.applynowform-container .default-content-wrapper>* {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 35px;
    color: #696969;
    line-height: 38px;
}

.applynowform-container .applynowform .step1.field-wrapper input[type="text"],
.applynowform-container .applynowform .step1.field-wrapper input[type="tel"],
.applynowform-container .applynowform .step1.field-wrapper input[type="email"] {
    background-color: #D4D4D499;
    border-radius: 4px;
    font-family: 'Work Sans';
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;
    border: none;
    margin-bottom: 16px;
}


.applynowform-container .applynowform .step1.fieldset-wrapper:has(fieldset#loanTypeFieldset) {
    padding-top: 16px;
    border: none;
    border-top: 1px solid #9A9A9A;
}

.applynowform-container .applynowform .step1.field-wrapper #loanTypeFieldset legend {
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;
    margin-bottom: 1rem;
}

.applynowform-container .field-wrapper.fieldset-wrapper #form-terms {
    display: flex;
    flex-direction: row;
}

.applynowform-container .field-wrapper.fieldset-wrapper #form-terms #form-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #585858;

}

.applynowform-container .field-wrapper.fieldset-wrapper #form-terms #form-termsandcondition {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #5CB7E3;
    cursor: pointer;
}

.applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-box #form-description {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #585858;
}

.applynowform-container .field-wrapper.fieldset-wrapper #form-terms .applynowform-container input[type="checkbox"] {
    display: none;
}


.applynowform-container .loan-type-checkbox.field-wrapper.checkbox-wrapper.selection-wrapper label {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
    color: #3B3B3B;
    transition: background-color 0.4s ease, color 0.4s ease;
    cursor: pointer;
}

.applynowform-container .loan-type-checkbox.field-wrapper.checkbox-wrapper.selection-wrapper.checked label {
    background-color: #8CB133;
    padding: 10px;
    border-radius: 4px;
    color: #FFFFFF;
}

.applynowform-container .applynowform .step1.submit-registration button,
.applynowform-container .applynowform .verify-step.btn-verify-step button {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: #3CB8FF;
    line-height: 1rem;
    padding: 17px 50px;
    border-radius: 4px;
    cursor: pointer;
    gap: 10px;
    width: 100%;
    border: none;
    outline: none;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.applynowform-container .applynowform .step1.submit-registration button:disabled {
    background-color: #E8E8E8;
    color: #6D6D6D;
    cursor: not-allowed;
}

.applynowform-container .applynowform #form-common legend,
.applynowform-container .applynowform .verify-step.field-wrapper.plaintext-wrapper #form-message {
    color: #3B3B3B;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
}

.applynowform-container .applynowform .verify-step.field-wrapper.plaintext-wrapper #change-number {
    font-size: 14px;
    font-weight: 400;
    color: #3CB8FF;
    line-height: 16px;
    cursor: pointer;
}

.applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-box {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 4px;
}

.applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-resendcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-resendcontainer #form-message3.inactive {
    font-size: 14px;
    line-height: 16px;
    color: #B8B8B8;
    font-weight: 400;
    cursor: pointer;
}

.applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-resendcontainer #form-message3.active {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8CB133;
    cursor: pointer;
}

.applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-description-1 {
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-description-1 #form-message4 {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #3B3B3B;
}

.applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-description-1 #form-message5 {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #5CB7E3;
}

.applynowform .submit-wrapper {
    display: flex;
    justify-content: center;
}


.applynowform .error-message {
    color: #F50076;
    margin-top: -12px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.42px;
    text-align: left;
    margin-bottom: 8px;
}

.verify-step.field-wrapper.fieldset-wrapper .error-message {
    padding-top: 12px;
}





.applynowform .selection-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.applynowform label {
    font-weight: bold;
}

.verify-step {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.applynowform .verify-step .field-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.applynowform .verify-step .plaintext-wrapper {
    font-size: 16px;
    font-weight: bold;
}

.applynowform .btn-verify-step {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.applynowform .termsandcondition {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.applynowform .verify-step.field-wrapper.fieldset-wrapper fieldset {
    display: flex;
}




.applynowform fieldset[name="loanTypeFS"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

fieldset#form-box .verify-step.field-wrapper.text-wrapper {
    position: relative;
}

fieldset#form-box .verify-step.field-wrapper.text-wrapper::before {
    position: absolute;
    content: '';
    width: 20px;
    display: block;
    height: 2px;
    z-index: 99;
    bottom: 6px;
    left: calc(50% - 10px);
    background-color: #B8B8B8;
    transform: translateX(calc(50% - 10px));
    border-radius: 1px;
}

fieldset#form-box .verify-step.field-wrapper.text-wrapper:has(input:not(:placeholder-shown))::before {
    display: none;
}

.applynowform-container .applynowform #form-box input {
    padding-left: 50%;
}


@media screen and (max-width: 600px) {

    .applynowform .verify-step.field-wrapper.fieldset-wrapper:has(fieldset#form-common) legend {
        display: none;
    }

    .applynowform .verify-step.field-wrapper.fieldset-wrapper:has(fieldset#form-common) .select-wrapper {
        display: none !important;
    }

    main .section {
        padding: 0;
    }

    .applynowform-container {
        padding: unset;
        background-color: #ffffff;
        margin-top: -50px;
        position: relative;
        border-radius: 20px 20px 0px 0px;
    }

    .applynowform-container .applynowform-wrapper {
        background-color: #f2f2f2;
        padding: 20px 24px;
        width: unset;
    }

    .applynowform-container .applynowform .step1.field-wrapper input[type="text"],
    .applynowform-container .applynowform .step1.field-wrapper input[type="tel"],
    .applynowform-container .applynowform .step1.field-wrapper input[type="email"] {
        background-color: #FFFFFF;
        font-size: 14px;
        line-height: 16.42px;
        color: #585858;
    }

    .applynowform-container .default-content-wrapper>* {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 400;
        line-height: 23.46px;
        color: #000000;
    }

    .applynowform-container .applynowform .step1.fieldset-wrapper:has(fieldset#loanTypeFieldset) {
        padding-top: 16px;
        border: none;
        border-top: 1px solid #B8B8B8;
    }

    .applynowform-container .applynowform .step1.field-wrapper #loanTypeFieldset legend {
        width: 100%;
        max-width: -webkit-fill-available;
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 400;
        padding: 12px 10px;
        line-height: 16.42px;
        text-align: left;
        background-color: #ffffff;
        border-radius: 4px;
    }

    .applynowform .loan-type-checkbox {
        flex-direction: column;
    }

    .applynowform .verify-step {
        flex-direction: column;
    }

    .applynowform .verify-step.field-wrapper.fieldset-wrapper fieldset#form-common {
        position: relative;
    }

    .applynowform fieldset#form-common .verify-step.field-wrapper.number-wrapper {
        flex-grow: 1;
    }

    .applynowform fieldset#form-common .verify-step.plaintext-wrapper {
        position: absolute;
        right: 10px;

    }

    .applynowform-container .applynowform #form-box input {
        padding-left: 50%;
    }
}

@media screen and (min-width: 600.99px) and (max-width:900px) {
    .applynowform .verify-step.field-wrapper.fieldset-wrapper:has(fieldset#form-common) legend {
        display: none;
    }

    .applynowform .verify-step.field-wrapper.fieldset-wrapper:has(fieldset#form-common) .select-wrapper {
        display: none !important;
    }

    .applynowform input {
        background-color: #D4D4D499;
    }

    .applynowform-container .applynowform .verify-step.field-wrapper.fieldset-wrapper #form-box {
        background-color: #F4F4F4;
    }

    .applynowform-container .applynowform #form-box input {
        background-color: #F4F4F4;
        padding-left: 50%;
    }

    .applynowform-container .loan-type-checkbox.field-wrapper.checkbox-wrapper.selection-wrapper label {

        background-color: #F4F4F4;
    }

    .applynowform-container .applynowform .step1.field-wrapper #loanTypeFieldset legend {
        width: 100%;
        border-radius: 4px;
        padding: 12px 10px;
        max-width: -webkit-fill-available;
        background-color: #D4D4D499
    }

    .applynowform-container {
        background-color: unset;
        margin-top: 0;
        box-shadow: none;
    }

    .applynowform .verify-step.field-wrapper.fieldset-wrapper fieldset#form-common {
        position: relative;
    }

    .applynowform fieldset#form-common .verify-step.field-wrapper.number-wrapper {
        flex-grow: 1;
    }

    .applynowform fieldset#form-common .verify-step.plaintext-wrapper {
        position: absolute;
        right: 10px;

    }
}

.terms-and-condition-re {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.08px;
    text-align: left;
    margin-left: 10px;
}


.applynowform .verify-step.btn-verify-step.field-wrapper.submit-wrapper {
    display: flex;
    align-items: center;
}


.applynowform input:-webkit-autofill,
.applynowform input:-webkit-autofill:hover,
.applynowform input:-webkit-autofill:focus,
.applynowform textarea:-webkit-autofill,
.applynowform textarea:-webkit-autofill:hover,
.applynowform textarea:-webkit-autofill:focus,
.applynowform select:-webkit-autofill,
.applynowform select:-webkit-autofill:hover,
.applynowform select:-webkit-autofill:focus {

    -webkit-text-fill-color: #585858;
    -webkit-box-shadow: 0 0 0px 1000px #D4D4D499 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.applynowform .verify-step .plaintext-wrapper #form-message2 {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.42px;
    color: #3B3B3B;
}

.applynowform .verify-step .plaintext-wrapper #form-message2 #otp-seconds {
    font-weight: 500;

}