:root {
--slide-content-width: 35%;
  --background-color: #FFFFFF;
  /* colors */
  /* Citrus */
  --color-citrus: #8CB133;
  --color-citrus-light: #F0F6E4;
  /* Black */
  --color-black: #000000;
  --color-black-fadded:#1d1d1d;
  --color-black-secondary:#111111;
  --color-black-primary:#4E4E4E;
  --color-black-grey:#7d7d7d;
  --color-black-grey-primary:#757575;
  /* Sky */
  --color-sky: #3CB8FF;
  --color-sky-dark: #00A2FF;
  --color-sky-light: #E8F4F9;
  /* Charcoal Black */
  --color-charcoal-black: #3B3B3B;
  /* Ruby */
  --color-ruby: #F50076;
  --color-ruby-light: #FFECF4;
  /* Dark Grey */
  --color-dark-grey: #B8B8B8;
  /* White */
  --color-white: #FFFFFF;
  /* Light Grey */
  --color-light-grey: #E8E8E8;
  /* Silver */
  --color-silver: #F4F4F4;

  --color-dark-grey-secondary: #b3b3b3;

  --color-white-secondary: #F2F2F2;

  /* fonts */
  --body-font-family: 'Work Sans', sans-serif;
  --body-font-family-primary:'Poppins';
  --heading-font-family: var(--body-font-family);
  --heading-font-family-primary:var(--body-font-family-primary);
  --body-font-size-s: 14px;
  --body-font-size-default: 16px;
  --body-font-size-xs:12px;

  /* mobile  */
  --heading-1: 32px;
  --customize-heading:32px;
  --heading-2: 20px;
  --title: 20px;
  --body-1: 18px;
  --body-2: 14px;
  --paragraph-1: 12px;
  --paragraph-2: 11px;
  --paragraph-3: 10px;

  @media (width >=901px) {
    --heading-1: 54px;
    --customize-heading:54px;
    --heading-2: 36px;
    --title: 24px;
    --body-1: 16px;
    --body-2: 14px;
    --body-3: 12px;
  }
  @media (min-width: 600px) and (max-width: 900px){
    --customize-heading:36px;
  }


/* media query  */
--breakpoint-mobile: 768px;
--breakpoint-tablet: 900px;
--breakpoint-desktop: 1200px;

  /* nav height */

  --nav-height: 70px;
  --nav-height-subheader:40px;
  --combined-height:110px;

  /* links  */
  --link-color: #58B7E5;
  --link-hover-color: #3c;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: #000000;
  --pure-white:#ffffff;
}




@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}



body {
  font-size: var(--body-font-size-default);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  background-color: var(--color-white);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--customize-heading); } 
h2 { font-size: var(--heading-2); }
h3 { font-size: var(--title); }
h4 { font-size: var(--body-1); }
h5 { font-size: var(--body-2); }
h6 { font-size: var(--body-3); }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding:12px 32px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: #3CB8FF;
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  /* width: auto;
  height: auto; */
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 16px 26px;
}

@media (width >= 600px) {
  main .section {
    padding: 32px 16px;
  }
}

@media (width >=900px) {
  .section>div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

main .section .default-content-wrapper h1,h2,h3,h4,h5,h6{
  text-align: center;
  margin:0;
  font-weight: 500;
}

/* padding variation  */
main .section.padding-none{
  padding:0px;
}
 /* no padding top and bottom  */
main .section.padding-left-right-only{
  padding:0px 26px;
}

main .section.padding-v1{
  @media(width < 600px){
    background-color: #F4F4F4;
  }
}

.section.different-types-v1 {
  @media(width <=600px) {
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 30px;
    background-color: #fff;
    padding-bottom:0px;
  }
}

