.section.recommendedblogs-container {
    padding: unset;

    @media(width <=600px) {
        padding: 16px 20px;
    }
}

.recommendedblogs-container .recommendedblogs-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.recommendedblogs-container .recommendedblogs-wrapper .recommendedblogs>div:first-child {
    display: none;
}

.recommendedblogs-container .blogs-container {
    display: flex;
}

.recommendedblogs-container .blogs-container .blog-card {
    min-width: 250px;
    margin-right: 20px;
    white-space: normal;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}

.recommendedblogs-container .blogs-container .blog-card img {
    border-radius: 4px !important;
    max-height: 207px;

    @media(width <=600px) {
        border-radius: 8px;
    }
}

.recommendedblogs-container .blogs-container .blog-card .blog-content {
    display: flex;
    flex-direction: column;
}

.recommendedblogs-container .blogs-container .blog-card .blog-content a {
    text-decoration: none;
}

.recommendedblogs-container .blogs-container .blog-card .blog-content .article-date {
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: #000;

    @media(width <=600px) {
        color: #26262699;
    }
}

.recommendedblogs-container .blogs-container .blog-card .blog-content .article-description {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: start;
    margin: 0;
    text-decoration: none;
    color: #3b3b3b;
    font-size: 14px;
}

.recommendedblogs-container .blogs-container .blog-card .blog-content .read-more {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 14px;
    margin-top: 10px;

    @media(width <=600px) {
        display: none;
        font-size: 12px;
    }
}