.section.recommendedblogs-container {
    padding-top: unset;
}

@media(min-width:1199px){
    .section.recommendedblogs-container {
        padding-top: unset;
        padding-bottom: 10px;
        background-color: #f2f2f2;
    }
}

@media (width >= 1600px) {
    .section.recommendedblogs-container{
        padding-left: 9vw;
        padding-right: 9vw;
        max-width: unset;
    }
}

@media (max-width: 600px) {
    .section.recommendedblogs-container {
        padding: 16px 20px;
    }
}

.recommendedblogs-container .recommendedblogs-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.recommendedblogs-container .recommendedblogs-wrapper .recommendedblogs>div:first-child {
    display: none;
}

.recommendedblogs-container .blogs-container {
    display: flex;
}

.recommendedblogs-container .blogs-container .blog-card {
    min-width: 308px;
    margin-right: 20px;
    white-space: normal;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
    display: flex;
    flex-direction: column;
}

@media(min-width:767px) and (max-width:1199px){
    .recommendedblogs-container .blogs-container .blog-card {
        min-width: 200px;
    }
}

.recommendedblogs-container .blogs-container .blog-card img {
    border-radius: 4px !important;
    min-height: 180px;
}

@media(min-width:767px) and (max-width:1199px){
    .recommendedblogs-container .blogs-container .blog-card img{
        min-width: 116px;
        min-height: unset;
    }
}

@media (max-width: 600px) {
    .recommendedblogs-container .blogs-container .blog-card img {
        border-radius: 8px;
    }
}

.recommendedblogs-container .blogs-container .blog-card .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.recommendedblogs-container .blogs-container .blog-card .blog-content a {
    text-decoration: none;
}

.recommendedblogs-container .blogs-container .blog-card .blog-content .article-date {
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    line-height: 14.77px;
}

@media(min-width:767px) and (max-width:1199px) {
    .recommendedblogs-container .blogs-container .blog-card .blog-content .article-date {
        font-size: 10px;
        font-weight: 500;
        line-height: 10.09px;
        text-align: left;  
        color:#262626;
        opacity: 0.6;     
    }
}

@media (max-width: 600px) {
    .recommendedblogs-container .blogs-container .blog-card .blog-content .article-date {
        color: #26262699;
    }
}

.recommendedblogs-container .blogs-container .blog-card .blog-content .article-description {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: start;
    margin: 0;
    text-decoration: none;
    color: #3b3b3b;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
    flex-grow: 1;
}

@media(min-width:767px) and (max-width:1199px) {
    .recommendedblogs-container .blogs-container .blog-card .blog-content .article-description {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.08px;
        text-align: left;
        color:#262626;
    }
}

@media(max-width:900px) {
    .recommendedblogs-container .blogs-container .blog-card {
        min-width: 183px;
    }

    .recommendedblogs-container .blogs-container .blog-card img {
        min-height: 116px;
    }

    .recommendedblogs-container .blogs-container .blog-card .blog-content .article-description {
        font-size: 12px;
        line-height: 14.08px;
    }

}

.recommendedblogs-container .blogs-container .blog-card .blog-content .read-more {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    margin-top: auto;
    padding: 10px 0;
}

@media (max-width: 1199px) {
    .recommendedblogs-container .blogs-container .blog-card .blog-content .read-more {
        display: none;
        font-size: 12px;
    }
}