
.pploancards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center; 
}

.contentandpictureparent {
    display: grid;
    grid-template-rows: auto 1fr; 
    justify-items: center; 
    align-items: start; 
    position: relative;
    border-radius: 5px;
    overflow: hidden; 


.picturedetails {
    position: relative;
    width: 100%;
}

.picturedetails picture img {
    display: block;
    width: 100%;
    height: auto; 
}

.contentdetails {
    position: absolute;
    /* text-align: center; */
    color: #fff;
    /* padding: 10px; */
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100%; */
    z-index: 1;
    /* margin-bottom: 10px; */
}
}

.contentdetails > div:first-child {
    font-size: 48px; 
    font-weight: 600;
    margin: 0;
    text-align: start;
}

.contentdetails > div:nth-child(2) {
    font-size: 20px; 
    font-weight: 500;
    margin: 0;
    text-align: start;
}

@media (max-width: 600px) {
    .contentdetails > div:first-child {
        font-size: 32px; 
        font-weight: 500;
        margin: 0;
        text-align: start;
    }

    .contentdetails > div:nth-child(2) {
        font-size: 12px; 
        font-weight: 500;
        margin: 0;
        text-align: start;
    }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .pploancards {
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }
    
    .contentandpictureparent {
        margin-bottom: 20px;
    }

    .contentdetails {
        position: relative; 
        background: none;
        padding: 0; 
        text-align: center; 
        bottom: auto; 
    }

    .contentdetails > div {
        font-size: 16px; 
    }
}


